<!-->section id="details-sidebar" class="detail-section order-detail-section"><!-->
    <div *ngIf="selectedEvent.name" class="detail-sidebar-holder">
        <h2>{{selectedEvent.type | titlecase}} information</h2>
        <p-progressSpinner *ngIf="loading"></p-progressSpinner>
        <div *ngIf="!loading">
            <div class="img-holder">
                <img src="{{selectedEvent.image}}">
            </div>
            <div class="row">
                <strong class="event-name">{{selectedEvent.name}}</strong>
            </div>
            <div class="row" *ngIf="selectedEvent.isFacebookEvent">
                <span class="facebook-event">Facebook Event</span>
                <span class="red" *ngIf="selectedEvent.destination.latitude == 0 && selectedEvent.destination.longitude == 0">Unknown location</span>
            </div>
            <div class="row" *ngIf="selectedEvent.group">
                <h3>Group</h3>
                <span>{{selectedEvent.group}}</span>
            </div>
            <div class="row" *ngIf="selectedEvent.guests && selectedEvent.guests.length > 0">
                <h3 *ngIf="selectedEvent.type == 'workshop' || selectedEvent.type == 'roda'">Guests</h3>
                <h3 *ngIf="selectedEvent.type == 'class'">Teachers</h3>
                <ol>
                    <li class="guest" *ngFor="let guest of selectedEvent.guests">
                        <a *ngIf="guest._id" href="javascript:;" (click)="openUserPopup(guest._id)">
                            <span class="color-bullet">&bull; </span> <span [innerHTML]="guest.fullName"></span>
                        </a>                        
                        <span *ngIf="!guest._id"><span class="color-bullet">&bull; </span> <span [innerHTML]="guest.fullName"></span></span>
                    </li>                    
                </ol>
            </div>
            <div class="row description-row">
                <h3>Description</h3>
                <span class="rich-text" [innerHTML]="selectedEvent.description"></span>
            </div>
            <div class="row" *ngIf="selectedEvent.isFreeEvent || selectedEvent.price">
                <h3>Price</h3>
                <span *ngIf="selectedEvent.isFreeEvent">Free</span>
                <span class="rich-text" *ngIf="!selectedEvent.isFreeEvent">{{selectedEvent.price}}</span>
            </div>
            <div class="row" *ngIf="selectedEvent.destination.fromDate || selectedEvent.destination.toDate">
                <div class="column" *ngIf="selectedEvent.destination.fromDate">
                    <h3>Start Date</h3>
                    <span>{{selectedEvent.destination.fromDate | date}}</span>
                </div>
                <div class="column" *ngIf="selectedEvent.destination.toDate">
                    <h3>End Date</h3>
                    <span>{{selectedEvent.destination.toDate | date}}</span>
                </div>
            </div>
            <div class="row" *ngIf="selectedEvent.destination.fromTime || selectedEvent.destination.toTime">
                <div class="column" *ngIf="selectedEvent.destination.fromTime">
                    <h3>Start Time</h3>
                    <span>{{selectedEvent.destination.fromTime | date:"HH:mm"}}</span>
                </div>
                <div class="column" *ngIf="selectedEvent.destination.toTime">
                    <h3>End Time</h3>
                    <span>{{selectedEvent.destination.toTime | date:"HH:mm"}}</span> 
                </div>
            </div>

            <div *ngIf="!selectedEvent.isOneTimeEvent">
                <h3>List of available days</h3>
                <div class="row days-row" *ngFor="let day of selectedEvent.days; let i = index">
                    <h3 class="days">{{day}}</h3>
                    <div class="column" *ngIf="selectedEvent.destination.regularTimes[i].startTime">
                        <h3 class="time">Start Time</h3>
                        <span>{{selectedEvent.destination.regularTimes[i].startTime | date:"HH:mm"}}</span>
                    </div>
                    <div class="column" *ngIf="selectedEvent.destination.regularTimes[i].endTime">
                        <h3 class="time">End Time</h3>
                        <span>{{selectedEvent.destination.regularTimes[i].endTime | date:"HH:mm"}}</span>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="selectedEvent.destination.countryLabel || selectedEvent.destination.city">
                <div class="column" *ngIf="selectedEvent.destination.countryLabel">
                    <h3>Country</h3>
                    <span>{{selectedEvent.destination.countryLabel}}</span>
                </div>
                <div class="column" *ngIf="selectedEvent.destination.city">
                    <h3>City</h3>
                    <span>{{selectedEvent.destination.city}}</span>
                </div>
            </div>

            <div class="row" *ngIf="selectedEvent.destination.address">
                <h3>Address</h3>
                <span>{{selectedEvent.destination.address}}</span>
            </div>

            <div class="row" *ngIf="selectedEvent.destination.place">
                <h3>Place</h3>
                <span class="rich-text">{{selectedEvent.destination.place}}</span>
            </div>

            <!-- more images
            <div class="row">
                <h3>More images</h3>
                <p-lightbox [images]="images"></p-lightbox>
            </div>
            -->

            <div class="row" *ngIf="selectedEvent.sitesList.length > 0">
                <h3>Social links</h3>
                <ol class="sites-list">
                    <li class="list-item" *ngFor="let site of selectedEvent.sitesList">
                        <a href="{{site}}" target="_blank">• {{site}}</a>
                    </li>                    
                </ol>
            </div>

            <div class="row" *ngIf="selectedEvent.contacts">
                <h3>Contacts</h3>
                <span class="rich-text">{{selectedEvent.contacts}}</span>
            </div>

        </div>
    </div>

    <footer class="sidebar-footer" *ngIf="!loading">
        <button *ngIf="editable" class="ui-button" (click)="editEvent()" pButton label="Edit event" icon="fa fa-fw ui-icon-edit"></button>
        <button *ngIf="selectedEvent.isFacebookEvent" class="ui-button" (click)="convertToMyEvent()" pButton label="Convert to my event" icon="fa fa-fw ui-icon-call-made"></button>
        <button *ngIf="editable" class="ui-button-danger" (click)="deleteEvent()" pButton label="Delete event" icon="fa fa-fw ui-icon-delete-forever"></button>
    </footer>
<!--></section><!-->