<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<agm-map *ngIf="!loading" 
         [latitude]="globalLat" 
         [longitude]="globalLng"
         [zoom]="globalZoom">
    <agm-marker-cluster 
        [maxZoom]="18"
        [gridSize]="35"
        [zoomOnClick]="true"
        [averageCenter]="true"
        imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngFor="let event of visibleEvents" 
            (markerClick)="markerClick(event)" 
            [title]="event.name"
            [latitude]="event.destination.latitude" 
            [longitude]="event.destination.longitude"
            [iconUrl]="event.iconUrl">
        </agm-marker>
    </agm-marker-cluster>
    <agm-marker
        [iconUrl]="'../../assets/images/map-icon2.png'" 
        [latitude]="newEventLat" 
        [longitude]="newEventLng"
        [visible]="showNewEventIcon">
    </agm-marker>
</agm-map>

