<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<div class="search-holder">
    <label>Search by <span class="green-label">event name</span> or <span class="green-label">group</span>: </label>
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
        <input type="text" [(ngModel)]="searchValue" (keyup)="searchByName()" pInputText placeholder="Enter more then 3 characters" />
        <span *ngIf="searchValue.length > 3" (click)="clearSearch()" class="ui-inputgroup-addon clear"><i class="fa fa-close"></i></span>
    </div>
</div>

<virtual-scroller #scroll *ngIf="!loading" [items]="visibleEvents" [enableUnequalChildrenSizes]="true">
    <div *ngFor="let event of scroll.viewPortItems" (click)="eventClick(event)" class="events-list-item" id={{event._id}}
        [ngClass]="{'active': event._id === selectedEvent._id, 'last-regular-event': event.lastRegularEvent}">
        <div class="img-holder">
            <img src="{{event.image}}">
        </div>        
        <div class="text-holder">
            <strong [innerHTML]="event.name"></strong>
            <div class="row" *ngIf="event.isFacebookEvent">
                <span class="facebook-event">Facebook Event</span>
            </div>
            <div class="row" *ngIf="event.destination.latitude == 0 && event.destination.longitude == 0">
                <span class="red">Unknown location</span>
            </div>
            <div class="row" *ngIf="event.group">
                <label>Group: </label>
                <span [innerHTML]="event.group"></span>
            </div>
            <div class="row" *ngIf="event.isOneTimeEvent">
                <div class="column">
                    <label>Start Date</label>
                    <span class="green">{{event.destination.fromDate | date}}</span>
                </div>
                <div class="column">
                    <label>End Date</label>
                    <span  class="green">{{event.destination.toDate | date}}</span> 
                </div>
            </div>
            <div class="row" *ngIf="!event.isOneTimeEvent">
                <label *ngIf="event.type == 'class'">Class available on: </label>
                <label *ngIf="event.type == 'roda'">Roda available on: </label>
                <div>
                    <span  class="green" *ngFor="let day of event.days; let i = index">{{day}}<span *ngIf="i < event.days.length - 1">, </span></span>
                </div>
            </div>
            <div class="row" *ngIf="event.destination.countryLabel || event.destination.city">
                <div class="column" *ngIf="event.destination.countryLabel">
                    <label>Country</label>
                    <span>{{event.destination.countryLabel}}</span>
                </div>
                <div class="column" *ngIf="event.destination.city">
                    <label>City</label>
                    <span>{{event.destination.city}}</span> 
                </div>
            </div>
        </div>
    </div>
</virtual-scroller>

<footer id="sidebar-footer">
    <p-button (click)="addEventBtnClicked()" label="Add your event" icon="fa fa-fw ui-icon-add"></p-button>
</footer>