<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [dismissableMask]="true" [(visible)]="showPopup">
    <p-header>
        Sign Up
    </p-header>
    <span class="description">It's <b class="green">free</b> and takes <b class="green">less then 30 seconds.</b></span>
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    <section class="body-section">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" *ngIf="!loading">
            <h3>Name*</h3>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="material-icons">account_circle</i></span>
                <input type="text" formControlName="userName" pInputText placeholder="Name" required />
            </div>
            <div *ngIf="(userForm.controls.userName.invalid && userForm.controls.userName.touched) || (userForm.controls.userName.invalid && submitClicked)" class="alert alert-danger">
                <div *ngIf="userForm.controls.userName.errors.required">
                    Name is required.
                </div>
                <div *ngIf="userForm.controls.userName.errors.minlength">
                    Name should be at least 3 characters.
                </div>
                <div *ngIf="userForm.controls.userName.errors.pattern">
                    Please use the Latin characters only.
                </div>
            </div>

            <h3>Email*</h3>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="material-icons">email</i></span>
                <input type="text" formControlName="userEmail" pInputText placeholder="Email" required />
            </div>
            <div *ngIf="(userForm.controls.userEmail.invalid && userForm.controls.userEmail.touched) || (userForm.controls.userEmail.invalid && submitClicked)" class="alert alert-danger">
                <div *ngIf="userForm.controls.userEmail.errors.required">
                    Email is required.
                </div>
                <div *ngIf="userForm.controls.userEmail.errors.email">
                    Check your email format.
                </div>
            </div>
            <div *ngIf="emailExistError" class="alert alert-danger">
                <div>
                    This email is already exist! 
                    Please try another one.
                </div>
            </div>

            <h3>Password*</h3>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="material-icons">security</i></span>
                <input type="password" formControlName="password" pInputText placeholder="Password" required />
            </div>
            <div *ngIf="(userForm.controls.password.invalid && userForm.controls.password.touched) || (userForm.controls.password.invalid && submitClicked)" class="alert alert-danger">
                <div *ngIf="userForm.controls.password.errors.required">
                    Password is required.
                </div>
                <div *ngIf="userForm.controls.password.errors.minlength">
                    Password should be at least 5 characters.
                </div>
            </div>

            <h3>Confirm password*</h3>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="material-icons">verified_user</i></span>
                <input type="password" formControlName="confirmPassword" pInputText placeholder="Confirm password" required />
            </div>
            <div *ngIf="(userForm.controls.confirmPassword.invalid && userForm.controls.confirmPassword.touched) || (userForm.controls.confirmPassword.invalid && submitClicked)" class="alert alert-danger">
                <div *ngIf="userForm.controls.confirmPassword.errors.required">
                    Confirm password is required.
                </div>
                <div *ngIf="userForm.controls.confirmPassword.errors.minlength">
                    Password should be at least 5 characters.
                </div>
                <div *ngIf="userForm.controls.confirmPassword.errors.MatchPassword">
                    Password and confirm password does not match.
                </div>
            </div>

            <button class="ui-button-success" pButton type="submit" label="SIGN UP"></button>
            <!-- ---------- or ----------
            <div class="social-holder">
                <i class="material-icons">public</i>
                <i class="material-icons">public</i>
                <i class="material-icons">public</i>
            </div>-->
        </form>
    </section>

</p-dialog>