<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [dismissableMask]="true" [(visible)]="showPopup">
    <p-header>
        Change password
    </p-header>
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    <section class="body-section">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" *ngIf="!loading">
            
            <h3>Old password*</h3>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="material-icons">security</i></span>
                <input type="password" (input)="changeOldPassword()" formControlName="oldPassword" pInputText placeholder="Old password" required />
            </div>
            <div *ngIf="userForm.controls.oldPassword.invalid && userForm.controls.oldPassword.touched" class="alert alert-danger">
                <div *ngIf="userForm.controls.oldPassword.errors.required">
                    Old password is required.
                </div>
                <div *ngIf="userForm.controls.oldPassword.errors.minlength">
                    Old password should be at least 5 characters.
                </div>
            </div>

            <div *ngIf="oldPasswordError" class="alert alert-danger">
                <div>
                    Old password is wrong.
                </div>
            </div>

            <h3>Password*</h3>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="material-icons">verified_user</i></span>
                <input type="password" formControlName="password" pInputText placeholder="Password" required />
            </div>
            <div *ngIf="userForm.controls.password.invalid && userForm.controls.password.touched" class="alert alert-danger">
                <div *ngIf="userForm.controls.password.errors.required">
                    Password is required.
                </div>
                <div *ngIf="userForm.controls.password.errors.minlength">
                    Password should be at least 5 characters.
                </div>
            </div>

            <h3>Confirm password*</h3>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="material-icons">verified_user</i></span>
                <input type="password" formControlName="confirmPassword" pInputText placeholder="Confirm password" required />
            </div>
            <div *ngIf="userForm.controls.confirmPassword.invalid && userForm.controls.confirmPassword.touched" class="alert alert-danger">
                <div *ngIf="userForm.controls.confirmPassword.errors.required">
                    Confirm password is required.
                </div>
                <div *ngIf="userForm.controls.confirmPassword.errors.minlength">
                    Password should be at least 5 characters.
                </div>
                <div *ngIf="userForm.controls.confirmPassword.errors.MatchPassword">
                    Password and confirm password does not match.
                </div>
            </div>

            <button class="ui-button-warning" pButton type="submit" label="Change password"></button>
          
        </form>
    </section>

</p-dialog>