/* CSS reset */
body {
  margin: 0;
  color: #333;
  font: 13px/16px Arial, Helvetica, sans-serif; }

img {
  border-style: none; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: underline; }

a:active {
  background-color: transparent; }

input,
textarea,
select {
  font: 100% Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: #666; }

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

header, footer, article, section, nav, figure, aside {
  display: block; }

figure {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin-top: 0; }

/* icomoon */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vgm2sj");
  src: url("../fonts/icomoon.eot?vgm2sj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vgm2sj") format("truetype"), url("../fonts/icomoon.woff?vgm2sj") format("woff"), url("../fonts/icomoon.svg?vgm2sj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon2';
  src: url("../fonts/icomoon-2.eot?w9gsvp");
  src: url("../fonts/icomoon-2.eot?w9gsvp#iefix") format("embedded-opentype"), url("../fonts/icomoon-2.ttf?w9gsvp") format("truetype"), url("../fonts/icomoon-2.woff?w9gsvp") format("woff"), url("../fonts/icomoon-2.svg?w9gsvp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-bottom:before {
  content: "\e900"; }

.icon-arrow-top:before {
  content: "\e901"; }

.icon-arrow-right:before {
  content: "\e902"; }

.icon-lines-1:before {
  content: "\e903"; }

.icon-close:before {
  content: "\e904"; }

.icon-box:before {
  content: "\e905"; }

.icon-car:before {
  content: "\e906"; }

.icon-lines-2:before {
  content: "\e907"; }

.icon-search:before {
  content: "\e908"; }

.icon-sticker:before {
  content: "\e909"; }

.icon-filter-ico-1:before {
  content: "\e901"; }

.icon-filter-ico-2:before {
  content: "\e902"; }

.icon-filter-ico-3:before {
  content: "\e903"; }

.icon-filter-ico-4:before {
  content: "\e904"; }

.icon-filter-ico-5:before {
  content: "\e905"; }

.icon-filter-ico-6:before {
  content: "\e906"; }

.icon-trash:before {
  content: "\e900"; }

/* Main styles */
/* main styles */
h1 {
  font-size: 17px;
  line-height: 19px;
  color: #888888;
  font-weight: normal;
  text-align: center;
  margin: 0 0 8px; }

.wrapper {
  height: 100%;
  overflow: hidden; }

#sidebar {
  z-index: 20;
  width: 348px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #e8e8e8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: linear 0.2s right, linear 0.2s width; }

.sidebar-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden; }

#sidebar:after {
  clear: both;
  display: block;
  content: ""; }

#sidebar.sidebar-close {
  right: -347px; }

#sidebar.details-sidebar-open {
  width: 618px; }

#sidebar.details-sidebar-open.sidebar-close {
  right: -618px; }

#sidebar.sidebar-close .close-sidebar .rotate-holder {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  margin-right: -3px;
  margin-top: -1px; }

#sidebar.details-open {
  width: 618px; }

.close-sidebar {
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  top: 26px;
  right: 100%;
  content: "";
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.22);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #939393;
  text-align: center;
  cursor: pointer;
  transition: linear 0.2s background; }

.close-sidebar:hover {
  background: #efefef; }

.close-sidebar .rotate-holder {
  display: block;
  transition: linear 0.2s -webkit-transform;
  transition: linear 0.2s -ms-transform;
  transition: linear 0.2s transform; }

.close-sidebar .rotate-holder:before {
  vertical-align: middle;
  font-size: 8px;
  line-height: 22px;
  margin-left: 3px; }

#sidebar .main-sidebar-section {
  height: 100%;
  width: 347px;
  float: left;
  overflow: hidden;
  position: relative; }

.detail-section {
  width: 0px;
  overflow: hidden;
  background: #384858;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transition: linear 0.2s width, linear 0.2s opacity; }

/* !!!! */
#sidebar.details-sidebar-open .detail-section {
  position: relative;
  width: 270px;
  padding: 65px 10px 135px 20px;
  color: #fff; }

#sidebar.details-open #details-sidebar-footer {
  margin: 0 -20px; }

#sidebar #details-sidebar-footer {
  /*height: 130px;*/
  height: 55px;
  padding: 10px 10px 0;
  background: #384858;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#sidebar #details-sidebar-footer a {
  padding: 11px 15px;
  font-size: 15px;
  line-height: 17px; }

#details-sidebar-footer .trigger-btn {
  position: relative; }

#details-sidebar-footer .trigger-btn:before {
  position: absolute;
  top: 13px;
  right: 15px;
  color: #fff;
  font-size: 8px;
  transition: linear 0.2s -webkit-transform;
  transition: linear 0.2s -ms-transform;
  transition: linear 0.2s transform;
  font-family: 'icomoon'; }

#details-sidebar-footer .trigger-btn.open:before {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.btn, #login-form .submit, .popup .submit {
  color: #fff;
  background: #567ca3;
  display: block;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font: bold 16px / 20px 'PT Sans', Arial, He lvetica, sans-serif;
  transition: linear 0.2s background;
  margin-bottom: 9px; }

.btn.green {
  background: #769b39; }

.btn.action-btn {
  background: #65a3e2; }

.btn:hover, #login-form .submit:hover, .popup .submit:hover {
  background: #7dbcff;
  text-decoration: none; }

.btn.green:hover {
  background: #8abd34; }

#sidebar header.sidebar-header {
  overflow: hidden;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }

#sidebar header.sidebar-header .btn {
  float: left;
  padding: 10px;
  width: 49%;
  margin: 0 0 0 2%; }

#sidebar header.sidebar-header .btn:first-child {
  margin-left: 0; }

#sidebar header.filter-section input {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0; }

#sidebar footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }

#sidebar-footer .footer-nav {
  padding: 10px;
  margin: 0;
  list-style: none; }

#sidebar-footer .footer-nav li {
  float: left;
  border-left: 1px solid #eaedf1;
  width: 105px; }

#sidebar-footer .footer-nav a {
  color: #567ca3;
  text-align: center;
  position: relative;
  display: block;
  padding: 10px 20px 5px;
  font: bold 11px / 14px 'PT Sans', Arial, Helvetica, sans-serif;
  transition: linear 0.2s color; }

#sidebar-footer .footer-nav a:hover, #sidebar-footer .footer-nav a.active {
  text-decoration: none;
  color: #7dbcff; }

#sidebar-footer .footer-nav a:before {
  font-family: 'icomoon';
  display: block;
  font-size: 18px;
  margin-bottom: 8px; }

#sidebar-footer .footer-nav li:first-child {
  border: 0; }

.text {
  padding: 5px; }

.detail-section h2 {
  font: bold 16px / 20px 'PT Sans', Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 auto 20px;
  width: 230px;
  position: fixed;
  top: 26px; }

.detail-section h2:before, .detail-section h2:after {
  height: 1px;
  background: #556272;
  position: absolute;
  top: 10px;
  width: 35px;
  left: 0px;
  content: ""; }

.detail-section h2:after {
  left: auto;
  right: 0px; }

.detail-section .row {
  margin-bottom: 20px;
  overflow: hidden; }

.detail-section .row .jcf-select span,
.detail-section .row > span {
  display: block;
  color: #fff;
  padding-right: 5px;
  font: bold 16px / 18px 'PT Sans', Arial, Helvetica, sans-serif; }

.detail-section h3 {
  margin: 0;
  color: #8c949f;
  font: bold 11px / 16px 'PT Sans', Arial, Helvetica, sans-serif; }

.detail-section .event-name {
  font: bold 18px / 20px 'PT Sans', Arial, Helvetica, sans-serif;
  color: #fff; }

filter-sidebar .sidebar-body {
  padding: 10px; }

filter-sidebar .sidebar-body h2 {
  font-size: 21px;
  margin: 0 0 15px;
  color: #000;
  text-align: center;
  font-weight: normal; }

filter-sidebar .sidebar-body h3 {
  font-size: 16px;
  margin: 0 0 5px;
  color: #000;
  font-weight: normal; }

filter-sidebar .sidebar-body .row {
  margin-bottom: 15px; }
  filter-sidebar .sidebar-body .row.hidden {
    opacity: 0; }

filter-sidebar .sidebar-body .row:after {
  content: "";
  clear: both;
  display: block; }

filter-sidebar .sidebar-body .filter-holder {
  float: left;
  width: 49%;
  margin: 0 0 0 2%; }

filter-sidebar .sidebar-body .filter-holder:first-child {
  margin-left: 0; }

filter-sidebar .sidebar-body p-calendar .ui-calendar button {
  right: -1px; }

filter-sidebar .sidebar-body p-calendar .ui-calendar.ui-calendar-w-btn input {
  width: 100%; }

filter-sidebar .text {
  display: block;
  width: 100%; }

.sebm-google-map-container {
  height: 100%; }
