
<form [formGroup]="eventForm" (ngSubmit)="onSubmit(eventForm.value)">
    <div class="detail-sidebar-holder">
        <h2 *ngIf="!updateEventId">{{ 'add' | translate | titlecase  }} {{ 'event' | translate }}</h2>
        <h2 *ngIf="updateEventId && !convertToMyEvent">{{ 'edit' | translate | titlecase  }} {{ 'event' | translate }}</h2>
        <h2 *ngIf="updateEventId && convertToMyEvent">{{ 'convert' | translate | titlecase  }} {{ 'event' | translate }}</h2>

        <p-progressSpinner *ngIf="loading"></p-progressSpinner>
        <div *ngIf="!loading">
            <p *ngIf="(!updateEventId || convertToMyEvent) && eventForm.controls.selectedEventType.value == 'workshop'">{{ 'addWorkshopInfo' | translate }} <br>{{ 'andTell' | translate }}</p>
            <p *ngIf="(!updateEventId || convertToMyEvent) && eventForm.controls.selectedEventType.value == 'class'">{{ 'addClassInfo' | translate }} <br>{{ 'andTell' | translate }}</p>
            <p *ngIf="(!updateEventId || convertToMyEvent) && eventForm.controls.selectedEventType.value == 'roda'">{{ 'addRodaInfo' | translate }} <br>{{ 'andTell' | translate }}</p>
            <div class="row" *ngIf="!updateEventId || convertToMyEvent">
                <h3>{{ 'eventType' | translate }} <span class="required">*</span></h3>
                <p-selectButton (onChange)="changeEventType()" formControlName="selectedEventType" [options]="eventTypes"></p-selectButton>
            </div>

            <div class="row regularity-buttons" *ngIf="(!updateEventId || convertToMyEvent) && eventForm.controls.selectedEventType.value == 'roda'">
                <h3>{{ 'selectEventRegularity' | translate }} <span class="required">*</span></h3>
                <p-selectButton (onChange)="changeEventRegularity()" formControlName="oneTimeEvent" [options]="eventRegularity"></p-selectButton>
            </div>

            <div class="edit-img-holder" *ngIf="convertToMyEvent && eventForm.controls.mainImage.value == 'oldImage'">
                <img src="{{convertedEvent.image}}">
            </div>

            <div class="row">
                    <h3 *ngIf="!updateEventId">{{ 'uploadImage' | translate }} <span class="required">*</span></h3>
                    <h3 *ngIf="updateEventId">{{ 'uploadImageIfNeeded' | translate }}<span class="required"></span></h3>
    
                    <p-fileUpload name="mainImage[]"
                                (uploadHandler)="addImageToForm($event)"
                                customUpload="true"
                                maxFileSize="5000000"
                                auto="auto"
                                [showUploadButton]="false">
                    </p-fileUpload> 
    
                    <div *ngIf="eventForm.controls.mainImage.invalid &&  eventForm.controls.mainImage.touched"  class="alert alert-danger">
                        <div *ngIf="eventForm.controls.mainImage.errors.required">
                            {{ 'mainImage' | translate | titlecase }} {{ 'isRequired' | translate }}.
                        </div>
                    </div>
                </div>

            <div class="row">
                <h3>{{ 'eventName' | translate | titlecase }} <span class="required">*</span></h3>
                <input formControlName="eventName" type="text" pInputText placeholder="{{ 'add' | translate | titlecase }} {{ 'eventName' | translate }}" required />
                <div *ngIf="eventForm.controls.eventName.invalid &&  eventForm.controls.eventName.touched"  class="alert alert-danger">
                    <div *ngIf="eventForm.controls.eventName.errors.required">
                        {{ 'name' | translate | titlecase }} {{ 'isRequired' | translate }}.
                    </div>
                    <div *ngIf="eventForm.controls.eventName.errors.minlength">
                        {{ 'atLeast6Chars' | translate }}.
                    </div>
                    <div *ngIf="eventForm.controls.eventName.errors.pattern">
                        {{ 'useLatinChars' | translate }}.
                    </div>
                </div>
            </div>
            
            <div class="row">
                <h3>{{ 'grouptName' | translate | titlecase }}</h3>
                <input formControlName="groupName" type="text" pInputText placeholder="{{ 'add' | translate | titlecase }} {{ 'grouptName' | translate }}" />
                <!--<p-autoComplete formControlName="groupName"
                            [suggestions]="filteredGroups" 
                            [size]="20" 
                            (completeMethod)="filterGroups($event.query, allGroups)" 
                            (onSelect)="selectGroup($event)"
                            field="groupName"
                            [minLength]="1" 
                            placeholder="Groupname" 
                            [dropdown]="true">
                </p-autoComplete> -->
                <div *ngIf="eventForm.controls.groupName.invalid && eventForm.controls.groupName.touched"  class="alert alert-danger">
                    <div *ngIf="eventForm.controls.groupName.errors.required">
                        {{ 'group' | translate | titlecase }} {{ 'isRequired' | translate }}.
                    </div>
                    <div *ngIf="eventForm.controls.groupName.errors.minlength">
                        {{ 'atLeast3Chars' | translate }}.
                    </div>
                    <div *ngIf="eventForm.controls.groupName.errors.pattern">
                        {{ 'useLatinChars' | translate }}.
                    </div>
                </div>
            </div>
            
            <div class="row" *ngIf="eventForm.controls.oneTimeEvent.value">
                <div class="column">
                    <h3>{{ 'startDate' | translate | titlecase }} <span class="required">*</span></h3>
                    <p-calendar [touchUI]="mobileView" class="left-calendar" [locale]="en" formControlName="startDate" placeholder="{{ 'add' | translate | titlecase }} {{ 'startDate' | translate }}" dateFormat="dd M yy" [minDate]="currentDate" [maxDate]="eventForm.controls.endDate.value" readonlyInput="true" [showIcon]="true"></p-calendar>
                    <div *ngIf="eventForm.controls.startDate.invalid &&  eventForm.controls.startDate.touched"  class="alert alert-danger">
                        <div *ngIf="eventForm.controls.startDate.errors.required">
                            {{ 'startDate' | translate | titlecase }} {{ 'isRequired' | translate }}.
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h3>{{ 'endDate' | translate | titlecase }} <span class="required">*</span></h3>
                    <p-calendar [touchUI]="mobileView" class="right-calendar" [locale]="en" (onFocus)="selectDate()" formControlName="endDate" placeholder="{{ 'add' | translate | titlecase }} {{ 'endDate' | translate }}" dateFormat="dd M yy" [minDate]="eventForm.controls.startDate.value" readonlyInput="true" [showIcon]="true"></p-calendar>
                    <div *ngIf="eventForm.controls.startDate.invalid &&  eventForm.controls.startDate.touched"  class="alert alert-danger">
                        <div *ngIf="eventForm.controls.startDate.errors.required">
                            {{ 'endDate' | translate | titlecase }} {{ 'isRequired' | translate }}.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="eventForm.controls.oneTimeEvent.value && (eventForm.controls.startDate && eventForm.controls.startDate.value || eventForm.controls.endDate && eventForm.controls.endDate.value)">
                    <div class="column">
                        <h3 *ngIf="eventForm.controls.startDate.value">{{ 'startTime' | translate | titlecase }}</h3>
                        <p-calendar (onFocus)="selectTime('startTime')" *ngIf="eventForm.controls.startDate.value" formControlName="startTime" placeholder="{{ 'add' | translate | titlecase }} {{ 'startTime' | translate }}"  [timeOnly]="true"></p-calendar>
                    </div>
                    <div class="column">
                        <h3 *ngIf="eventForm.controls.endDate.value">{{ 'endTime' | translate | titlecase }}</h3>
                        <p-calendar (onFocus)="selectTime('endTime')" *ngIf="eventForm.controls.endDate.value" formControlName="endTime" placeholder="{{ 'add' | translate | titlecase }} {{ 'endTime' | translate }}" [timeOnly]="true"></p-calendar>
                    </div>
                </div>

            <ul *ngIf="!eventForm.controls.oneTimeEvent.value">
                <h3>{{ 'selectDays' | translate | titlecase }} <span class="required">*</span></h3>
                <li *ngFor="let day of week; let i = index">
                    <div class="row" >
                        <p-checkbox class="price-checkbox" binary="true" label="{{day.dayName}}" formControlName="{{day.controlName}}"></p-checkbox>
                    </div>
                    
                    <div class="row" *ngIf="eventForm.controls[day.controlName] && eventForm.controls[day.controlName].value">
                        <div class="column">
                            <h3>{{day.dayName}} {{ 'startTime' | translate }}</h3>
                            <p-calendar (onFocus)="selectTime(day.startTimeControl)" formControlName="{{day.startTimeControl}}" placeholder="{{ 'add' | translate | titlecase }} {{ 'startTime' | translate }}"  [timeOnly]="true"></p-calendar>
                        </div>
                        <div class="column">
                            <h3>{{day.dayName}} {{ 'endTime' | translate }}</h3>
                            <p-calendar (onFocus)="selectTime(day.endTimeControl)" formControlName="{{day.endTimeControl}}" placeholder="{{ 'add' | translate | titlecase }} {{ 'endTime' | translate }}" [timeOnly]="true"></p-calendar>
                        </div> 
                    </div>
                <li>
                <div class="alert alert-danger">
                    <div *ngIf="regularDaysValidationError">
                        {{ 'atLeast1Day' | translate | titlecase }}.
                    </div>
                </div>
            </ul>

            <div class="row">
                <h3>{{ 'eventDescription' | translate | titlecase }} <span class="required">*</span></h3>
                <textarea formControlName="eventDescription" [rows]="3" [cols]="30" pInputTextarea autoResize="true" placeholder="{{ 'add' | translate | titlecase }} {{ 'eventDescription' | translate }}"></textarea>
                <div *ngIf="eventForm.controls.eventDescription.invalid &&  eventForm.controls.eventDescription.touched"  class="alert alert-danger">
                    <div *ngIf="eventForm.controls.eventDescription.errors.required">
                        {{ 'eventDescription' | translate | titlecase }} {{ 'isRequired' | translate }}.
                    </div>
                </div>
            </div>

            <div class="row">
                <h3>{{ 'price' | translate | titlecase }}</h3>
                <textarea formControlName="price" *ngIf="!eventForm.controls.isFreeEvent.value" [rows]="3" pInputTextarea autoResize="true" placeholder="{{ 'add' | translate | titlecase }} {{ 'paymentDetails' | translate }}"></textarea>            
                <p-checkbox class="price-checkbox" binary="true" label="{{ 'isItFreeEvent' | translate }}" (ngModelChange)="onPriceChange()" formControlName="isFreeEvent"></p-checkbox>
            </div>

            <div class="row">
                <div class="column">
                    <h3>{{ 'country' | translate | titlecase }} <span class="required">*</span></h3>
                    <p-autoComplete #autocomplete
                            (onFocus)="autocomplete.handleDropdownClick()"
                            formControlName="country" 
                            [suggestions]="filteredCountries" 
                            [size]="20" 
                            (completeMethod)="filterCountry($event.query, allCountries)" 
                            (onSelect)="selectCountry($event)"
                            field="label"
                            [minLength]="1" 
                            placeholder="{{ 'select' | translate | titlecase }} {{ 'country' | translate }}" 
                            [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div class="column" [ngClass]="{'hide': !eventForm.controls.country.value || !eventForm.controls.country.value.value}">
                    <h3>{{ 'city' | translate | titlecase }} <span class="required">*</span></h3>
                    <input placeholder="{{ 'select' | translate | titlecase }} {{ 'city' | translate }}" 
                        formControlName="city"
                        autocorrect="off" 
                        autocapitalize="off" 
                        spellcheck="off" 
                        pInputText
                        (change)="changeCity()" 
                        class="form-control" 
                        #searchCity>
                </div>
                <div *ngIf="(eventForm.controls.country.invalid && eventForm.controls.country.touched) ||
                            (eventForm.controls.city.invalid && eventForm.controls.city.touched)"  class="alert alert-danger">
                    <div *ngIf="eventForm.controls.city.errors.required">
                        {{ 'selectCountryAndCity' | translate | titlecase }}.
                    </div>
                </div>
            </div>
            <div class="row" [ngClass]="{'hide': !eventForm.controls.country.value || !eventForm.controls.country.value.value || !eventForm.controls.city.value}">
                <h3>{{ 'selectAddress' | translate }} <span class="required">*</span> <br> {{ 'andCheckMarker' | translate }} </h3>
                <input type="text"
                    formControlName="address"
                    autocorrect="off" 
                    autocapitalize="off" 
                    spellcheck="off" 
                    pInputText
                    #searchAddress
                    (change)="changeAddressString()" 
                    placeholder="{{ 'select' | translate | titlecase }} {{ 'address' | translate }}" />
                <div *ngIf="eventForm.controls.address.invalid && eventForm.controls.address.touched"  class="alert alert-danger">
                    <div *ngIf="eventForm.controls.address.errors.required">
                        Address is required.
                    </div>
                </div>
            </div>
            <div class="row">
                <h3><span *ngIf="eventForm.controls.selectedEventType.value == 'workshop' || eventForm.controls.selectedEventType.value == 'roda'">Guests </span>
                    <span *ngIf="eventForm.controls.selectedEventType.value == 'class'"  >Teachers </span>
                     list <span class="required">*</span> <br>Select 
                    <span *ngIf="eventForm.controls.selectedEventType.value == 'workshop' || eventForm.controls.selectedEventType.value == 'roda'">guest </span>
                    <span *ngIf="eventForm.controls.selectedEventType.value == 'class'"  >teacher </span>
                    from drop-list or add new </h3>
                <ul *ngIf="guestsList && guestsList.length > 0" class="guests-list">
                    <li *ngFor="let guest of guestsList; let idx = index">
                        <i (click)="deleteUser(idx)" class="material-icons delete-icon">close</i>
                        <a href="javascript:;" (click)="openUserPopup(guest._id)" class="list-item" *ngIf="guest._id">
                            &bull; {{guest.fullName}}
                        </a>
                        <span class="list-item" *ngIf="!guest._id">
                            &bull; {{guest.fullName}}
                        </span>
                    </li>
                </ul>

                <div class="holder guest-holder">
                    <p-autoComplete *ngIf="eventForm.controls.selectedEventType.value == 'workshop' || eventForm.controls.selectedEventType.value == 'roda'"  
                                formControlName="guestName"
                                [suggestions]="filteredUsers" 
                                [size]="20" 
                                (completeMethod)="filterUsers($event.query)" 
                                (onSelect)="selectUser($event)"
                                field="fullName"
                                [minLength]="1" 
                                placeholder="Add guest" 
                                [dropdown]="true">
                    </p-autoComplete>
                    <p-autoComplete *ngIf="eventForm.controls.selectedEventType.value == 'class'"  
                                formControlName="guestName"
                                [suggestions]="filteredUsers" 
                                [size]="20" 
                                (completeMethod)="filterUsers($event.query)" 
                                (onSelect)="selectUser($event)"
                                field="fullName"
                                [minLength]="1" 
                                placeholder="Add teacher" 
                                [dropdown]="true">
                    </p-autoComplete>
                </div>
                <button (click)="selectUser(eventForm.controls.guestName.value)" pButton type="button" label="Add"></button>
                
                <div class="alert alert-danger">
                    <div *ngIf="guestsValidationError">
                        Add at least one guest.
                    </div>
                    <div *ngIf="guestsLanguageError">
                        Please use the Latin characters only.
                    </div>
                </div>
                
            </div>
            

            <!-- Upload more event images

            <div class="row" [ngClass]="{'hide': !eventForm.controls.mainImage.value.length > 0}">
                <h3>Upload more event images</h3>
                <p-fileUpload name="images[]" 
                            multiple="multiple"
                            accept="image/*"
                            [showUploadButton]="false">
                </p-fileUpload>
            </div>
            -->


            <div class="row">
                <h3>Social links (fb, youtube... )</h3>
                <ul *ngIf="sitesList.length > 0" class="sites-list">
                    <li *ngFor="let site of sitesList; let idx = index">
                        <i (click)="removeSite(idx)" class="material-icons delete-icon">close</i>
                        <a href="{{site}}" target="_blank" class="list-item">
                            &bull; {{site}}
                        </a>
                    </li>
                </ul>
                <div class="holder">
                    <input type="text" formControlName="siteName" pInputText placeholder="http://..." />
                </div>
                <button (click)="addSite()" pButton type="button" label="Add"></button>
                <div class="alert alert-danger">
                    <div *ngIf="sitevalidationError">
                            Name must be at least 6 characters long.
                    </div>
                </div>
            </div>

            <div class="row">
                <h3>Contacts (tel, fb, public email)</h3>
                <textarea formControlName="contacts" [rows]="3" [cols]="30" pInputTextarea autoResize="true" placeholder="Add contact details"></textarea>
            </div>

        </div>        
    </div>

    <footer class="sidebar-footer" *ngIf="!loading">
        <button *ngIf="!updateEventId" class="ui-button-success" pButton type="submit" label="Submit event" icon="fa fa-fw ui-icon-done"></button>
        <button *ngIf="updateEventId" (click)="cancelEditing()" pButton type="button" label="Cancel" icon="fa fa-fw ui-icon-close"></button>
        <button *ngIf="updateEventId && !convertToMyEvent" class="ui-button-warning" pButton type="submit" label="Update event" icon="fa fa-fw ui-icon-edit"></button>
        <button *ngIf="updateEventId && convertToMyEvent" class="ui-button-warning" pButton type="submit" label="Convert event" icon="fa fa-fw ui-icon-edit"></button>
    </footer>
</form>
