<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [dismissableMask]="true" [(visible)]="showPopup">
    <p-header>
        Login
    </p-header>
    
    <section class="body-section">
        <h3>Email</h3>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="material-icons">near_me</i></span>
            <input type="text" [(ngModel)]="email" pInputText placeholder="Email" required />
        </div>
        <h3>Password</h3>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="material-icons">security</i></span>
            <input type="password" [(ngModel)]="password" pInputText placeholder="Password" required />
        </div>
        <div *ngIf="loginError"  class="alert alert-danger">
            Login is failed.
            Check email and password please.
        </div>
        <a href="javascript:;" (click)="signUp()">Don't have an accaunt? Click here to sign up.</a>
        <button pButton (click)="login()" type="button" label="LOGIN"></button>
        <div class="holder">
            <p-checkbox [(ngModel)]="rememberMe" label="Remember me"></p-checkbox>
            <a (click)="forgotPassword()" class="forgot-password" href="javascript:;">Forgot Password?</a>
        </div>

        <!-- ---------- or ----------
        <div class="social-holder">
            <i class="material-icons">public</i>
            <i class="material-icons">public</i>
            <i class="material-icons">public</i>
        </div>-->
    </section>

</p-dialog>