<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [dismissableMask]="true" [(visible)]="showPopup">
    <p-header>
        User details
    </p-header>

    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    <section class="body-section" [ngClass]="{'opacity': loading}">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
            <div class="image-holder">
                <img *ngIf="selectedUser.image" src="{{selectedUser.image}}" width="200">
                <img *ngIf="!selectedUser.image" src="assets/images/person.png" width="200">
                <div class="row">
                    <h3>Upload your photo</h3>
                    <p-fileUpload name="mainImage[]"
                        (uploadHandler)="addImageToForm($event)"
                        customUpload="true"
                        maxFileSize="5000000"
                        auto="auto"
                        [showUploadButton]="false">
                    </p-fileUpload> 
                </div>
                <div class="row">
                    <h3>Change your password</h3>
                    <button (click)="changePassword()" class="ui-button-warning change-password" pButton type="button" label="Change password" icon="fa fa-fw ui-icon-credit-card"></button>
                </div>
            </div>   

            <div class="holder">
                <div class="row">
                    <div class="column">
                        <h3>Graduation</h3>
                        <input type="text" formControlName="graduation" pInputText placeholder="Add graduation" />                        
                    </div>
                    <div class="column">
                        <h3>Apellido</h3>
                        <input type="text" formControlName="apelido" pInputText placeholder="Add apellido" />
                    </div>
                </div>

                <div *ngIf="(userForm.controls.graduation.invalid &&  userForm.controls.graduation.touched) ||
                            (userForm.controls.apelido.invalid && userForm.controls.apelido.touched)"  class="alert alert-danger">
                    <div *ngIf="userForm.controls.graduation.errors && userForm.controls.graduation.errors.minlength">
                        Graduation must be at least 3 characters long.
                    </div>
                    <div *ngIf="(userForm.controls.graduation.errors && userForm.controls.graduation.errors.pattern) || (userForm.controls.apelido.errors && userForm.controls.apelido.errors.pattern)">
                        Please use the Latin characters only.
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <h3>First name*</h3>
                        <input type="text" formControlName="userName" pInputText placeholder="Add first name" required />
                    </div>
                    <div class="column">
                        <h3>Last name</h3>
                        <input type="text" formControlName="userSurname" pInputText placeholder="Add last name" />
                    </div>
                </div>

                <div *ngIf="(userForm.controls.userName.invalid && userForm.controls.userName.touched) ||
                            (userForm.controls.userSurname.invalid && userForm.controls.userSurname.touched)"  class="alert alert-danger">
                    <div *ngIf="userForm.controls.userName.errors && userForm.controls.userName.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="userForm.controls.userName.errors && userForm.controls.userName.errors.minlength">
                        Name must be at least 3 characters long.
                    </div>
                    <div *ngIf="(userForm.controls.userName.errors && userForm.controls.userName.errors.pattern) || (userForm.controls.userSurname.errors && userForm.controls.userSurname.errors.pattern)">
                        Please use the Latin characters only.
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <h3>Email*</h3>
                        <input type="text" formControlName="userEmail" pInputText placeholder="Add email" required />
                    </div>
                    <div class="column">
                        <h3>Group name</h3>
                        <input formControlName="groupName" type="text" pInputText placeholder="Add group" />
                        <!-- <p-autoComplete formControlName="groupName"
                                    [suggestions]="filteredGroups" 
                                    [size]="20" 
                                    (completeMethod)="filterGroups($event.query)" 
                                    (onSelect)="selectGroup($event)"
                                    field="groupName"
                                    [minLength]="1" 
                                    placeholder="Groupname" 
                                    [dropdown]="true">
                        </p-autoComplete>-->
                    </div>
                </div>

                <div *ngIf="(userForm.controls.userEmail.invalid &&  userForm.controls.userEmail.touched) ||
                            (userForm.controls.groupName.invalid && userForm.controls.groupName.touched)"  class="alert alert-danger">
                    <div *ngIf="userForm.controls.userEmail.errors && userForm.controls.userEmail.errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="userForm.controls.userEmail.errors && userForm.controls.userEmail.errors.email">
                        Check your email format.
                    </div>
                    <div *ngIf="userForm.controls.groupName.errors && userForm.controls.groupName.errors.minlength">
                        Group must be at least 3 characters long.
                    </div>
                    <div *ngIf="userForm.controls.groupName.errors && userForm.controls.groupName.errors.pattern">
                        Please use the Latin characters only.
                    </div>
                </div>

                <div *ngIf="emailExistError" class="alert alert-danger">
                    <div>
                        This email is already exist! 
                        Please try another one.
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <h3>Country</h3>
                        <p-autoComplete 
                                formControlName="country" 
                                [suggestions]="filteredCountries" 
                                [size]="20" 
                                (completeMethod)="filterCountry($event.query)" 
                                (onSelect)="selectCountry($event)"
                                field="label"
                                [minLength]="1" 
                                placeholder="Select country" 
                                [dropdown]="true">
                        </p-autoComplete>
                    </div>
                    <div class="column" [ngClass]="{'hide': !userForm.controls.country && !userForm.controls.country.value.value}">
                        <h3>City</h3>
                        <input placeholder="Select city" 
                            formControlName="city"
                            autocorrect="off" 
                            autocapitalize="off" 
                            spellcheck="off" 
                            pInputText
                            class="form-control" 
                            #searchCity>
                    </div>
                </div>

                <div class="row">
                    <h3>User description</h3>
                    <textarea formControlName="userDescription" [rows]="3" [cols]="48" pInputTextarea autoResize="true" placeholder="Add user description"></textarea>
                </div>

                <!--<div class="row">
                    <h3>Upload user images</h3>
                    <p-fileUpload name="images[]" 
                                multiple="multiple"
                                accept="image/*"
                                [showUploadButton]="false">
                    </p-fileUpload>
                </div>

                <div class="row">
                    <label>Photo:</label>
                    <p-lightbox [images]="images"></p-lightbox>
                </div>-->

                <div class="row">
                    <h3>Social links (fb, youtube... )</h3>
                    <ul *ngIf="sitesList && sitesList.length > 0" class="sites-list">
                        <li *ngFor="let site of sitesList; let idx = index">
                            <i (click)="removeSite(idx)" class="material-icons delete-icon">close</i>
                            <a href="{{site}}" target="_blank" class="list-item">
                                &bull; {{site}}
                            </a>
                        </li>
                    </ul>
                    <div class="input-holder">
                        <input type="text" formControlName="siteName" pInputText placeholder="http://..." />
                    </div>
                    <button class="add-social-btn" (click)="addSite()" pButton type="button" label="Add"></button>
                    <div class="alert alert-danger">
                        <div *ngIf="sitevalidationError">
                                Site must be at least 6 characters long.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>    

    <p-footer [ngClass]="{'opacity': loading}">
        <button (click)="onSubmit(userForm.value)" class="ui-button-success" pButton type="submit" label="Update user" icon="fa fa-fw ui-icon-done"></button>
    </p-footer>
    
</p-dialog>