<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [dismissableMask]="true" [(visible)]="showPopup">
    <p-header>
        Choose one event from this address
    </p-header>
    
    <section class="body-section">
        <ul #eventsList class="events-list">
            <li *ngFor="let event of multyEvents"
                (click)="eventClick(event)"
                id={{event.id}}>
                <div class="img-holder">
                    <img src="{{event.image}}">
                </div>
                <div class="text-holder">
                    <strong [innerHTML]="event.name"></strong>
                    <div class="row" *ngIf="event.isFacebookEvent">
                        <span class="facebook-event">Facebook Event</span>
                    </div>
                    <div class="row" *ngIf="event.destination.latitude == 0 && event.destination.longitude == 0">
                        <span class="red">Unknown location</span>
                    </div>
                    <div class="row" *ngIf="event.group">
                        <label>Group:</label>
                        <span [innerHTML]="event.group"></span>
                    </div>
                    <div class="row" *ngIf="event.isOneTimeEvent">
                        <div class="column">
                            <label>Start Date</label>
                            <span>{{event.destination.fromDate | date}}</span>
                        </div>
                        <div class="column">
                            <label>End Date</label>
                            <span>{{event.destination.toDate  | date}}</span> 
                        </div>
                    </div>
                    <div class="row" *ngIf="!event.isOneTimeEvent">
                        <label>Event available on: </label>
                        <div>
                            <span *ngFor="let day of event.days; let i = index">{{day}}<span *ngIf="i < event.days.length - 1">, </span></span>
                        </div>
                    </div>
                    <div class="row" *ngIf="event.destination.countryLabel || event.destination.city">
                        <div class="column" *ngIf="event.destination.countryLabel">
                            <label>Country</label>
                            <span>{{event.destination.countryLabel}}</span>
                        </div>
                        <div class="column" *ngIf="event.destination.city">
                            <label>City</label>
                            <span>{{event.destination.city}}</span> 
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

</p-dialog>