<div class="wrapper" 
    [ngClass]="{
     'details-sidebar-open': openDetailsSidebar || openAddEventSidebar,
     'sidebar-close': closeMainSidebar,
     'show-mobile-map': showMobileMap,
     'show-mobile-filters': showFilters}">

     <h1 class="seo-title">Capoeira map</h1>

    <filter-panel></filter-panel>
    <p-growl [(value)]="msgs" [life]="5000"></p-growl>

    <div class="main-container">
        <section class="map-section">
            <div class="map-overlay"></div>

            <google-map [shouldClearSelectedEvent]="clearSelectedEvent" (mapMarkerClick)="selectEvent($event)">Google map</google-map>
        </section>
        
        <a href="javascript:;" [ngClass]="{'show': openAddEventSidebar || openDetailsSidebar }" (click)="closeSidebar()" class="close-sidebar"><i class="material-icons">close</i></a>

        <aside id="sidebar" [ngClass]="{'details-sidebar-open': openDetailsSidebar,'add-sidebar-open':  openAddEventSidebar, 'sidebar-close': closeMainSidebar}">
            <div class="sidebar-wrapper">
                <div id="details-sidebar" [ngClass]="{'editable': editableEvent}" class="detail-section order-detail-section">
                    <add-event-sidebar (shouldCancelEditing)="cancelEditing()" [ngClass]="{'open': openAddEventSidebar, 'close': !openAddEventSidebar }"></add-event-sidebar>
                    <details-sidebar (isEditable)="isEditableEvent($event)" (editEventBtnClick)="openEditEventSidebarFunc()" [ngClass]="{'open': openDetailsSidebar, 'close': !openDetailsSidebar }"></details-sidebar>                  
                </div>
                <events-sidebar [shouldClearSelectedEvent]="clearSelectedEvent" (addEventBtnClick)="openAddEventSidebarFunc()" (sidebarEventClick)="selectEvent($event)" (closeSidebar)="closeSidebar()" id="events-sidebar" class="main-sidebar-section"></events-sidebar>
            </div>
        </aside>
    </div>

    <p-sidebar [(visible)]="displayLeftSidebar" position="left">
        <left-sidebar></left-sidebar>
    </p-sidebar>

    <div class="additional-info">
        <p-button (click)="displayLeftSidebar = true" icon="fa fa-fw ui-icon-info"></p-button>
        <div class="copyright-holder">
            <span class="material-icons ui-icon-copyright"></span>
            <span>All Rights Reserved 2019</span>
        </div>
    </div>

    <mobile-panel 
        (showMobileMapBtnClick)="showMobileMapFunc()" 
        (displayLeftSidebarBtnClick)="displayLeftSidebarFunc()" 
        (showEventsListBtnClick)="showEventsListFunc()"
        (showFiltersBtnClick)="showFiltersFunc()">
    </mobile-panel>
    
</div>

<login-popup></login-popup>
<signup-popup></signup-popup>
<user-popup></user-popup>
<delete-event-popup></delete-event-popup>
<convert-event-popup></convert-event-popup>
<edit-user-popup></edit-user-popup>
<change-password-popup></change-password-popup>
<forgot-password-popup></forgot-password-popup>
<multy-events-popup (mapMarkerClick)="selectEvent($event)"></multy-events-popup>




