<h2>Info</h2>
<div class="holder">
    <p>
        Hello friends! <br>
        Welcome to Capoeira Map)<br><br>
        
        This web application is for all capoeiristas regardless of the group or style. <br>
        Here everyone can find an event, class or open roda around the world.<br><br>
        
        Just remember that the site is currently in open beta testing!<br>
        And here could be some minor issues.<br><br>

        If you notice one or if you have any ideas how to improve the project - you can always write me by email:<br>
        <a href="mailto:capoeira.map@gmail.com">capoeira.map@gmail.com</a>.
        <br><br>

        And if you want to keep abreast of updates and the latest news - subscribe to our group in Facebook:<br>
        <a target="_blank" href="https://www.facebook.com/capoeira.map">facebook.com/capoeira.map</a>
        <br><br>
        
        So...<br>
        <span>Lets try, lets test, lets play! ))</span><br><br>

        -------------<br>
        <b>Release Notes:</b><br>   
        -- added filter by guests (05 Jul, 2019)<br>
        -- added filter by event name or group (28 Jun, 2019)<br>     
        -- beta 0.4 (21 Jun, 2019)<br>
        We have an experiment here)<br>
        We decided to try Facebook API and collect events in semi-automatic mode.<br>
        And... now we have more than 100 capoeira events for the next 3 months!<br>
        Enjoy!)


        <br><br>
        -------------<br>
        Best wishes,<br>
        <span (click)="userLinkClicked()" class="user-link">Dima "Shifu"</span>

    </p>
</div>
<footer>
    <a href="https://www.facebook.com/capoeira.map" target="_blank"><i class="fa fa-facebook"></i></a>
</footer>
