<p-panel [toggleable]="true" [collapsed]="true">
    <p-header>
        <div class="ui-helper-clearfix main-header">
            <span class="ui-panel-title"><a href="/">Volta ao Mundo </a> <span>{{ 'open' | translate }} <span class="green">beta</span> ver 0.4.3</span></span>
            
            <p-menubar *ngIf="loggedIn" [autoDisplay]="false" [model]="items"></p-menubar>
            <p-checkbox class="my-events-checkbox" *ngIf="loggedIn" label="{{ 'onlyMyEvents' | translate }}" (onChange)="selectMyEvents($event)"></p-checkbox>            
            <button *ngIf="!loggedIn" pButton (click)="openLoginPopup()" type="button" label="{{ 'login' | translate }}"></button>
        </div>
    </p-header>
    <p-header>
        <div class="ui-helper-clearfix filter-header">
            <div class="events-counter">
                <strong>{{visibleEvents.length}}</strong> 
                <span *ngIf="selectedEventType == 'workshop'"> {{ 'workshop' | translate }}<span *ngIf="visibleEvents.length > 1">s</span></span>
                <span *ngIf="selectedEventType == 'class'"> {{ 'class' | translate }}<span *ngIf="visibleEvents.length > 1">es</span></span> 
                <span *ngIf="selectedEventType == 'roda'"> {{ 'roda' | translate }}<span *ngIf="visibleEvents.length > 1">s</span></span>  
                
                <!-- <span *ngIf="selectedCountry && selectedCountryLabel && !selectedCity"> in {{selectedCountryLabel}} </span>
                <span *ngIf="selectedCountry && selectedCountryLabel && selectedCity"> in {{selectedCity}} </span> -->
                
                <span *ngIf="visibleEvents.length == 1"> {{ 'is' | translate }}</span> 
                <span *ngIf="visibleEvents.length > 1"> {{ 'are' | translate }}</span>
                {{ 'available' | translate }}
            </div>

            <div class="filter-item">
               <!-- <label>Select event type:</label> -->
               <p-selectButton [(ngModel)]="selectedEventType" (onChange)="changeEventType()" [options]="eventTypes"></p-selectButton>                  
            </div>

            <div class="filter-item my-events-mobile-holder">
                <p-checkbox class="my-events-checkbox-mobile" *ngIf="loggedIn" label="{{ 'onlyMyEvents' | translate }}" (onChange)="selectMyEvents($event)"></p-checkbox>
            </div>
            <div class="row">
                <div class="filter-item">
                    <label>{{ 'filterBy' | translate }} {{ 'startDate' | translate }}:</label>
                    <p-calendar [touchUI]="mobileView" [disabled]='onlyMyEvents' [(ngModel)]="fromDate" [locale]="en" (onSelect)="selectFromDate($event)" dataType="string" dateFormat="dd M yy" [maxDate]="toDate" readonlyInput="true" [showIcon]="true"></p-calendar>
                </div>
                <div class="filter-item">
                    <label>{{ 'filterBy' | translate }} {{ 'endDate' | translate }}:</label>
                    <p-calendar [touchUI]="mobileView" [disabled]='onlyMyEvents' [(ngModel)]="toDate" [locale]="en" (onSelect)="selectToDate($event)" dateFormat="dd M yy" [minDate]="fromDate" readonlyInput="true" [showIcon]="true"></p-calendar>
                </div>
            </div>
            <div class="row">
                <div class="filter-item">
                    <label>{{ 'filterBy' | translate }} {{ 'country' | translate }}:</label>
                    <p-autoComplete #autocomplete
                                    [(ngModel)]="country"
                                    (onFocus)="autocomplete.handleDropdownClick()"
                                    [disabled]='onlyMyEvents' 
                                    [suggestions]="filteredCountries" 
                                    [size]="20" 
                                    (completeMethod)="filterCountry($event.query)" 
                                    (onSelect)="selectCountry($event)"
                                    (onClear)="selectCountry($event)"
                                    field="label"
                                    [minLength]="1" 
                                    placeholder="{{ 'allOverTheWorld' | translate }}" 
                                    [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div [ngClass]="{'hide': selectedCountry == ' '}" class="filter-item">
                    <label>{{ 'filterBy' | translate }} {{ 'city' | translate }}:</label>
                    <input placeholder="Select city"
                        [disabled]='onlyMyEvents'
                        [(ngModel)]="selectedCity"  
                        autocorrect="off" 
                        autocapitalize="off" 
                        spellcheck="off" 
                        pInputText
                        class="form-control" 
                        #searchCity>
                </div>
            </div>

            <div class="row">
                <div class="filter-item price-filter">
                    <label>{{ 'filterBy' | translate }} {{ 'price' | translate }}:</label>
                    <p-checkbox label="{{ 'onlyFreeEvents' | translate }}" (onChange)="selectPrice($event)"></p-checkbox>
                </div>
                <div class="filter-item" *ngIf="selectedEventType == 'workshop'">
                    <label>{{ 'filterBy' | translate }} <span class="facebook">facebook</span>:</label>
                    <p-checkbox label="{{ 'hideFacebookEvents' | translate }}" (onChange)="selectFacebookEvents($event)"></p-checkbox>
                </div>
            </div>

            <div class="row mobile-filters">
                <div class="filter-item search-holder">
                    <label>{{ 'searchBy' | translate }} <span class="green-label">{{ 'guestName' | translate }}</span>: </label>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
                        <input type="text" [(ngModel)]="searchValue" (keyup)="searchByGuest()" pInputText placeholder="{{ 'enterCharsShort' | translate }}" />
                        <span *ngIf="searchValue.length > 3" (click)="clearSearch()" class="ui-inputgroup-addon clear"><i class="fa fa-close"></i></span>
                    </div>
                </div>
            
                <div class="filter-item">
                    <label class="search-checkbox">&nbsp;</label>
                    <p-checkbox label="{{ 'searchInDescription' | translate }}" [(ngModel)]="searchInDescription" binary="true" (onChange)="selectPrice($event)"></p-checkbox>
                </div>  
            </div>
            
        </div>
    </p-header>

    <!-- expand block -->

    <div class="filter-item search-holder">
        <label>{{ 'searchBy' | translate }} <span class="green-label">{{ 'guestName' | translate }}</span>: </label>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
            <input type="text" [(ngModel)]="searchValue" (keyup)="searchByGuest()" pInputText placeholder="{{ 'enterCharsLong' | translate }}" />
            <span *ngIf="searchValue.length > 3" (click)="clearSearch()" class="ui-inputgroup-addon clear"><i class="fa fa-close"></i></span>
        </div>
    </div>

    <div class="filter-item">
        <label class="search-checkbox">&nbsp;</label>
        <p-checkbox label="{{ 'searchInDescription' | translate }}" [(ngModel)]="searchInDescription" binary="true" (onChange)="shouldSearchInDescription($event)"></p-checkbox>
    </div>

</p-panel> 