<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [dismissableMask]="true" [(visible)]="showPopup">
    <p-header>
        Warning
    </p-header>
    <p style="margin-top:0">Are you sure you want to delete this event?</p>
    <button (click)="deleteEvent()" icon="fa fa-fw ui-icon-delete-forever" class="ui-button-danger" pButton type="submit" label="Delete event"></button>
</p-dialog>