/* icomoon */ 
@font-face {
    font-family:    'icomoon';
    src:    url('../fonts/icomoon.eot?vgm2sj');
    src:    url('../fonts/icomoon.eot?vgm2sj#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?vgm2sj') format('truetype'), url('../fonts/icomoon.woff?vgm2sj') format('woff'), url('../fonts/icomoon.svg?vgm2sj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon2';
    src:    url('../fonts/icomoon-2.eot?w9gsvp');
    src:    url('../fonts/icomoon-2.eot?w9gsvp#iefix') format('embedded-opentype'),
        url('../fonts/icomoon-2.ttf?w9gsvp') format('truetype'),
        url('../fonts/icomoon-2.woff?w9gsvp') format('woff'),
        url('../fonts/icomoon-2.svg?w9gsvp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^= "icon-"],[class*="icon-"] {
    font-family:   'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height:
    1;
    /* Better Font Rendering =========== */
-webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-bottom:before {
    content: "\e900";
}

.icon-arrow-top:before {
    content: "\e901";
}

.icon-arrow-right:before {
    content: "\e902";
}

.icon-lines-1:before {
    content: "\e903";
}

.icon-close:before {
    content: "\e904";
}

.icon-box:before {
    content: "\e905";
}

.icon-car:before {
    content: "\e906";
}

.icon-lines-2:before {
    content: "\e907";
}

.icon-search:before {
    content: "\e908";
}

.icon-sticker:before {
    content: "\e909";
}
.icon-filter-ico-1:before {
    content: "\e901";
}
.icon-filter-ico-2:before {
    content: "\e902";
}
.icon-filter-ico-3:before {
    content: "\e903";
}
.icon-filter-ico-4:before {
    content: "\e904";
}
.icon-filter-ico-5:before {
    content: "\e905";
}
.icon-filter-ico-6:before {
    content: "\e906";
}
.icon-trash:before {
    content: "\e900";
}