.ui-datepicker-touch-ui, .ui-calendar .ui-datepicker-touch-ui{
    z-index: 1002;
}
.ui-datepicker-touch-ui.ui-datepicker td{
    @media (max-width: 570px) {
        text-align: center;
        padding: .25em .125em;
    }
}
.ui-datepicker-touch-ui.ui-datepicker td a{
    @media (max-width: 570px) {
        padding: 0.4em 0;
    }
}

body .ui-datepicker .ui-timepicker > div a{
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.ui-datepicker-calendar-container .ui-state-disabled{
    color: #424242;
}
body .ui-dialog-titlebar-close,
body .ui-sidebar-close {
    color: #757575; 
  }

  body .ui-button.ui-state-default.ui-button-secondary, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default {
    color: #333333;
    background-color: #f4f4f4;
   // border: 1px solid #f4f4f4;
  }
  body .ui-button.ui-state-default.ui-button-secondary:enabled:hover, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:hover {
    background-color: #c8c8c8;
    color: #333333;
    //border-color: #c8c8c8;
  }

  body .ui-button.ui-state-default.ui-button-secondary:enabled:active, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:active {
    background-color: #a0a0a0;
    color: #333333;
   // border-color: #a0a0a0;
  }
  body .ui-button.ui-state-default.ui-button-info, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default {
    color: #ffffff;
    background-color: #007ad9;
   // border: 1px solid #007ad9;
  }
  body .ui-button.ui-state-default.ui-button-info:enabled:hover, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default:enabled:hover {
    background-color: #116fbf;
    color: #ffffff;
   // border-color: #116fbf;
  }
 
  body .ui-button.ui-state-default.ui-button-info:enabled:active, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default:enabled:active {
    background-color: #005b9f;
    color: #ffffff;
   // border-color: #005b9f;
  }
  body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
    color: #ffffff;
    background-color: #34A835;
  //  border: 1px solid #34A835;
  }
  body .ui-button.ui-state-default.ui-button-success:enabled:hover, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:hover {
    background-color: #107D11;
    color: #ffffff;
   // border-color: #107D11;
  }

  body .ui-button.ui-state-default.ui-button-success:enabled:active, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:active {
    background-color: #0C6B0D;
    color: #ffffff;
   // border-color: #0C6B0D;
  }
  body .ui-button.ui-state-default.ui-button-warning, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default {
    color: #ffffff;
    background-color: #ffba01;
   // border: 1px solid #ffba01;
  }
  body .ui-button.ui-state-default.ui-button-warning:enabled:hover, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:hover {
    background-color: #ED990B;
    color: #ffffff;
  //  border-color: #ED990B;
  }

  body .ui-button.ui-state-default.ui-button-warning:enabled:active, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:active {
    background-color: #D38B10;
    color: #ffffff;
   // border-color: #D38B10;
  }
  body .ui-button.ui-state-default.ui-button-danger, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default {
    color: #ffffff;
    background-color: #e91224;
  //  border: 1px solid #e91224;
  }
  body .ui-button.ui-state-default.ui-button-danger:enabled:hover, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default:enabled:hover {
    background-color: #c01120;
    color: #ffffff;
   // border-color: #c01120;
  }
  body .ui-button.ui-state-default.ui-button-danger:enabled:active, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default:enabled:active {
    background-color: #a90000;
    color: #ffffff;
   // border-color: #a90000;
  }