/* CSS reset */
html, body{
	height: 100%;
}
body {
	overflow: hidden;
	margin:0;
	color:#424242;
	font:13px/16px 'Roboto', Arial, Helvetica, sans-serif;
}
img {border-style:none;}
a {
	text-decoration:none;
	color:#000;
}
a:hover {text-decoration:underline;}
a:active {background-color: transparent;}
input,
textarea,
select {
	font:100% 'Roboto', Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#666;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header, footer, article, section, nav, figure, aside { display: block; }
figure { margin:0; padding:0; }
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
  margin:0;
  padding:0;
}
h1, h2, h3, h4, h5{
    margin-top: 0;
}