<p-toolbar>
    <p-button class="info-btn" (click)="displayLeftSidebar()" icon="fa fa-fw ui-icon-info"></p-button>
    <button class="mobile-btn filters-btn" pButton type="button" (click)="showFilters()" label="Filters" icon="fa fa-fw format-line-spacing"></button>
    <button class="mobile-btn map-btn" pButton type="button" (click)="showMobileMap()" label="Map" icon="fa fa-fw ui-icon-place"></button>
    <button class="mobile-btn events-btn" pButton type="button" (click)="showEventsList()" label="Events" icon="fa fa-fw ui-icon-format-list-numbered"></button>
</p-toolbar>