<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [dismissableMask]="true" [(visible)]="showPopup">
    <p-header>
        User details
    </p-header>
    
    <section class="body-section">
            <img *ngIf="selectedUser.image" src="{{selectedUser.image}}" width="200">
            <img *ngIf="!selectedUser.image" src="assets/images/person.png" width="200">
        <div class="holder">
            <h3 *ngIf="selectedUser.grad || selectedUser.apelido">{{selectedUser.grad}} {{selectedUser.apelido}}</h3>
            <h4>{{selectedUser.name}} {{selectedUser.surname}}</h4>
            <div class="row" *ngIf="selectedUser.group">
                <label>Group:</label>
                <span>{{selectedUser.group}}</span>
            </div>
            <div class="row" *ngIf="selectedUser.country && selectedUser.country.label">
                <div class="column">
                    <label>Country:</label>
                    <span>{{selectedUser.country.label}}</span>
                </div>
                <div class="column" *ngIf="selectedUser.city">
                    <label>City:</label>
                    <span>{{selectedUser.city}}</span>
                </div>
            </div>
            <div class="row" *ngIf="selectedUser.description">
                <label>Description</label>
                <span class="rich-text">{{selectedUser.description}}</span>
            </div>
            <!--<div class="row">
                <label>Photo:</label>
                <p-lightbox [images]="images"></p-lightbox>
            </div> -->
            <div class="row" *ngIf="selectedUser.sitesList && selectedUser.sitesList.length > 0">
                <label>Social links:</label>
                <ol class="sites-list">
                    <li class="list-item" *ngFor="let site of selectedUser.sitesList">
                        <a href="{{site}}" target="_blank">• {{site}}</a>
                    </li>                    
                </ol>
            </div>
        </div>
    </section>
</p-dialog>