/* main styles */
html{
    overflow: hidden;
    max-height: 100%;
}
body{
    position: relative;
    //min-width: 570px;
    //min-height: 570px;
    max-height: 100%;
}
.main-container{
    position: relative;
    @media (max-width: 570px) {
        height: 100%;
        .ui-overflow-hidden .show-mobile-filters &{
            z-index: -1;
        }
    }
}
h1 {
    font-size: 17px;
    line-height: 19px;
    color: #888888;
    font-weight: normal;
    text-align: center;
    margin: 0 0 8px;
}

.seo-title{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.full-height {
    height: 100vh;
}

.rich-text{
    white-space: pre-wrap;
}

.wrapper {
    //overflow: hidden;
    @media (max-width: 570px) {
        padding-top: 47px;
        height: 100%;
        &.show-mobile-filters{
            .ui-overflow-hidden &{
                padding-top: 0;
            }
        }
    }
}

.fa-roda:before{
    content: "filter_tilt_shift";
}
.fa-class:before{
    content: "event_note";
}
.fa-workshop:before{
    content: "group";
}

.close-sidebar{
    position: absolute;
    top: -38px;
    right: 13px;
    background: #607D8B;
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    transition: background-color 0.3s, opacity 0.3s;
    border-radius: 50%;
    opacity: 0;
    @media (max-width: 570px) {
        top: 21px;
        right: 13px;
        z-index: 200;
        width: 25px;
        height: 25px;
        .show-mobile-map &,
        .show-mobile-filters &{
            display: none;
        }
    }
    i{
        line-height: 20px;
        @media (max-width: 570px) {
            line-height: 25px;
        }
    }
    &.show{
        opacity: 1;
    }
    &:hover{
        background: #455A64;   
    }
}

.sidebar-wrapper{
    height: 100%;
	//overflow:hidden;
}

#sidebar:after {
    clear: both;
    display: block;
    content: "";
}

#sidebar {
    position: absolute;
    z-index: 10;
    //top:102px;
    top:0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #e8e8e8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: linear 0.2s width;
    .ui-overflow-hidden .details-sidebar-open &{
        z-index: auto;
    }
    @media (min-width: 1400px) {
        width: 500px;
    }
    @media (max-width: 570px) {
        width: 200%;
        left: 0;
        transition: linear 0.2s left;
        .show-mobile-map &{
            left: 100%;
        }
    }

    &.details-sidebar-open,
    &.add-sidebar-open {
        width: 570px;
        @media (min-width: 1024px) {
            width: 640px;
        }
        @media (min-width: 1400px) {
            width: 940px;
        }
        @media (max-width: 570px) {
            width: 200%;
            left:-100%;
            .show-mobile-map &{
                left: 200%;
            }
        }
    }
}


#sidebar .main-sidebar-section {
    margin-top: -1px;
    height: 100%;
    width: 300px;
    padding-bottom: 222px;
    display: block;
    position: relative;
    @media (min-width: 1400px) {
        width: 500px;
    }
    @media (max-width: 1360px) {
        padding-bottom: 265px;
    }
    @media (max-width: 725px) {
        padding-top: 35px;
        padding-bottom: 290px;
    }
    @media (max-width: 570px) {
        width: 50%;
        padding-bottom: 145px;
    }
}

.detail-section {
    width: 270px;
    margin-right: -270px;
    overflow:hidden;
    background: #455A64;
    height: 100%;
    float: right;
    transition: linear 0.2s margin-right;
    @media (min-width: 1024px) {
        width: 340px;
        margin-right: -340px;
    }
    @media (min-width: 1400px) {
        width: 440px;
        margin-right: -440px;
    }
    add-event-sidebar,
    details-sidebar{
        &.open{
            display: block;
        }
        &.close{
            display: none;
        }
    }
}


#sidebar.details-sidebar-open .detail-section {
    margin-right: 0;
    padding: 65px 0 105px;
    color: #fff;
    position: relative;
    @media (min-width: 1024px) {
        width: 340px;
    }
    @media (min-width: 1400px) {
        width: 440px;
    }
    @media (max-width: 1360px) {
        padding-bottom: 150px;
    }
    @media (max-width: 725px) {
        padding-bottom: 165px;
    }
    @media (max-width: 570px) {
        width: 50%;
        padding-bottom: 55px;
    }
    &.editable{
        padding: 65px 0 162px;
        @media (max-width: 1360px) {
            padding-bottom: 205px;
        }
        @media (max-width: 725px) {
            padding-bottom: 230px;
        }
        @media (max-width: 570px) {
            padding-bottom: 100px;
        }
    }
    
}

#sidebar.add-sidebar-open .detail-section {
    margin-right: 0;
    padding: 65px 0 162px;
    color: #fff;
    position: relative;
    @media (min-width: 1024px) {
        width: 340px;
    }
    @media (min-width: 1400px) {
        width: 440px;
    }
    @media (max-width: 1360px) {
        padding-bottom: 205px;
    }
    @media (max-width: 725px) {
        padding-bottom: 230px;
    }
    @media (max-width: 570px) {
        width: 50%;
        padding-bottom: 100px;
    }
}






#sidebar footer {
    width: 100%;
    position: absolute;
    bottom: 102px;
    height: 60px;
    padding: 15px;
    text-align: center;
    @media (max-width: 1360px) {
        bottom: 145px;
    }
    @media (max-width: 725px) {
        bottom: 160px;
    }
    @media (max-width: 570px) {
        bottom: 45px;
    }
    //border-top: 1px solid #607D8B;
    //background: #607D8B;
    //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}





.text{
    padding: 5px;
}

.map-section{
    height: 100vh;
    //min-height: 300px;
    padding-right: 300px;
    padding-bottom: 102px;
    transition: linear 0.2s padding-right;
    .details-sidebar-open &{
        padding-right: 570px;
    }
    img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"]{
        display: none;
    }
    @media (min-width: 1024px) {
        .details-sidebar-open &{
            padding-right: 640px;
        }
    }
    @media (min-width: 1400px) {
        padding-right: 500px;
        .details-sidebar-open &{
            padding-right: 940px;
        }
    }
    @media (max-width: 1360px) {
        padding-bottom: 147px;
    }
    @media (max-width: 570px) {
        padding-bottom: 0;
        padding-right: 0;
        height: 100%;
    }
}

.additional-info{
    position: absolute;
    bottom: 14px;
    left: 14px;
    overflow: hidden;    
    p-button{
        float: left;
        position: relative;
        z-index: 20;
    }
    .copyright-holder{
        float: left;  
        color: #455a64;
        margin: 10px 10px 0;      
    }
    .ui-icon-copyright{
        float: left;
        margin:-2px 5px 0 0;
    }
    @media (max-width: 570px) {
        display: none;
    }
}

.ui-icon-info{
    transform: rotate(180deg);
    &:before{
        content:"priority_high";
    } 
}

.agm-map-container-inner a[title="Click to see this area on Google Maps"]{
    display: none !important;
}


.alert{
    margin: 5px 0 0;
    &.alert-danger{
        color:#e62a10;
    }
}

.hide{
    display: none;
}

.ripple {
    overflow: hidden;
  }
  
  .ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
  
    animation: ripple-animation 2s;
  }
  
  @keyframes ripple-animation {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      -webkit-transform: scale(100);
      transform: scale(100);
      opacity: 0;
    }
  }

  .ui-dialog{
    z-index: 2000 !important;
  }

  @keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #8BC34A;
    }
    40% {
        stroke: #8BC34A;
    }
    66% {
        stroke: #8BC34A;
    }
    80%,
    90% {
        stroke: #8BC34A;
    }
}

body .ui-growl {
    top: 112px;
    left: 15px;
    z-index: 2000 !important;
    @media (max-width: 570px) {
        top:15px;
    }
}

.pac-container{
    z-index: 2001;
}

body .ui-dialog .ui-dialog-content,
.ui-dialog .ui-dialog-content .body-section{
    overflow: visible;
    &:after{
        clear: both;
        display: block;
        content: "";
    }
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon{
    @media (max-width: 570px) {
        width: 30px;
        height: 30px;
        margin: 0;
        span{
            width: auto;
            height: auto;
            line-height: 30px;
        }
    }
}

body .ui-sidebar-close{
    z-index: 100;
    position: relative;
    cursor: pointer;
}

.ui-sidebar{
    padding: 1em;
    h2{
        color: #8BC34A;
    }
}

p-dialog{
    > div{
        @media (max-width: 570px) {
            width: 100%;
            height: 100%;
            overflow: auto;
            border-radius: 0 !important;
        }
    }
}

