details-sidebar,
add-event-sidebar{
    height: 100%;
    .img-holder{
        display: none;
    }
    .red{
        display: block;
        margin-top: 3px;
        color: #e62a10;
    }
    .green-background{
        color:#424242;
        background: #8BC34A;
    }
    .facebook-event{
        color: #8599c1;
    }
    .left-calendar .ui-calendar .ui-datepicker{
        @media (min-width: 570px) {
            left:0 !important;
            right: auto !important;
        }
    }
    .right-calendar .ui-calendar .ui-datepicker{
        @media (min-width: 570px) {
            left:auto !important;
            right: 0 !important;
        }
    }
    @media (max-width: 570px) {
        .img-holder{
            display: block;
            text-align: center;
        }
        img{
            height: auto;
            width: auto;
            max-height: 250px;
            max-width: 100%;
            margin-bottom: 5px;
        }
    }
    .edit-img-holder{
        display: block;
        text-align: center;
        img{
            height: auto;
            width: auto;
            max-height: 250px;
            max-width: 100%;
        }
    }
    form{
        height: 100%;
    }
    .alert{
        margin: 0;
        padding: 4px 0 0;
        clear: both;
    }
    h2 {
        font: bold 16px / 20px 'Roboto',  Arial, Helvetica, sans-serif;
        color: #fff;
        text-align: center;
        margin: 0 auto 20px;
        width: 230px;
        position: absolute;
        top: 25px;
        right: 15px;
        left: 15px;
    }
    
    h2:before, 
    h2:after {
        height: 1px;
        background: #607D8B;
        position: absolute;
        top: 10px;
        width: 30px;
        left: 0px;
        content: "";
    }
    
    h2:after {
        left: auto;
        right: 0px;
    }
    .ui-inputgroup{
        p-autocomplete{
            flex: 1 1 auto;
        }
        button{
            padding: 0 8px;
            height: auto;
            margin-left: 3px;
            span.ui-button-text{
                line-height:20px; 
            }
        }
    }
    .row {
        &.description-row{
            overflow: hidden;
        }
        margin-bottom: 15px;
        &.days-row{
            margin-bottom: 3px;
            .column{
                margin-bottom: 5px;
            }
        }
        &:after{
            content: "";
            clear: both;
            display: block;
        }
        .column{
            float: left;
            width: 50%;
            padding-left: 10px;
            &:first-child{
                padding-left: 0;
            }
        }
        .guest{
            @media (max-width: 570px) {
                margin-bottom: 2px;
            }
        }
        .guest a{
            color: #afe7ff;
        }
    }
    
    h3 {
        margin: 0 0 2px;
        color: #5cb85c;
        letter-spacing: 0.5px;
        font: bold 11px / 16px 'Roboto', Arial, Helvetica, sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.days{
            color: #8BC34A;
            margin-left: 10px;
        }
        &.time{
            color: #9aa3af;
        }
    }

    .event-name {
        font: bold 18px / 20px 'Roboto', Arial, Helvetica, sans-serif;
        color: #fff;
    }
    .detail-sidebar-holder{
        overflow-y: auto;
        height: 100%;
        padding: 0 10px 0 15px;
    }
    .ui-progress-spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sites-list{
        .list-item{
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            @media (max-width: 570px) {
                margin-bottom: 2px;
            }
            a{
                color: #afe7ff;
            }
        }
    }
    .sidebar-footer{
        button{
            padding: 0 0.8em;
            margin-left: 5px;
            font-size: 1em;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    .color-bullet{
       // color: #8BC34A;
    }
}

add-event-sidebar{
    h2:before, 
    h2:after{
        width: 40px;
    }
    h3{
        margin-bottom: 2px;
    }
    .required{
        //color: #8BC34A;
    }
    p{
        margin-top: 0;
        color: #9aa3af;
    }
    .row{
        > button.ui-button{
            font-size: 12px;
        }
    }
    
    .regularity-buttons{
        .ui-buttonset .ui-button{
            padding: 0 15px;
            width: 50%;
        }
    }

    input{
        color:#fff;
        width: 100%;
    }
    textarea,
    .ui-inputtextarea-resizable{
        width: 100%;
        color:#fff;
        min-height: 45px;
    }
    .ui-buttonset{
        width: 100%;
    }
    .ui-buttonset .ui-button{
        padding: 0 10px 0 25px;
        display: inline-block;
        @media (min-width: 1024px) {
            width: 33%;
        }
        @media (max-width: 570px) {
            width: 33%;
            &:first-child {
                border-top-left-radius: 3px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 3px;
            }
            &:last-child {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
            }
        }
       
        &.ui-button-text-icon-left .fa{
            left:3px;
        }
    }
    .ui-autocomplete{
        width: 100%;
    }
    .ui-calendar .ui-datepicker-trigger .fa,
    .ui-calendar .ui-datepicker-trigger .pi,
    .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only .fa,
    .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only .pi{
        color: #9aa3af;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #ccc;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #ccc;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #ccc;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #ccc;
    }    
    .price-checkbox{
        display: block;
        margin: 10px 0 5px;
    }
    .guests-list,
    .sites-list{
        margin-bottom: 5px;
        .list-item{
            border-bottom: 1px dotted;
            opacity: .6;
            display: block;
            padding: 3px 0;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            @media (max-width: 570px) {
                margin-bottom: 2px;
            }
        }
        a.list-item{
            color: #afe7ff;
            &:hover{
               opacity: 1;
               text-decoration: none;
            }
        }
        i.delete-icon{
            font-size: 16px;
            float: right;
            margin: 3px 1px 0 10px;
            cursor: pointer;
            color:#9aa3af;
            position: relative;
            z-index: 100;
            &:hover{
                color: #fff;
            }
        }
    }
    .holder{
        margin:0 0 8px;
        &.guest-holder{
            .ui-autocomplete-list .ui-autocomplete-list-item{
                font-size: 12px;
                padding: .5em 0.5em;
                /*white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;*/
            }
        }
    }

    // File uploader
    .ui-fileupload{
        .ui-fileupload-buttonbar{
            background: none;
            border:0;
            padding: 5px 0;
            .ui-button{
                background-color: #607D8B;
                &:hover{
                    background-color: #455A64;
                }
            }
        }
        
        .ui-fileupload-content{
            padding: 5px 0;
            background: none;
            border:0;
        }
        .ui-fileupload-files{
            color:#fff;
            img{
                width: 75px;
                @media (max-width: 570px) {
                    width: auto;
                }
            }
            .ui-fileupload-row{
                div{
                    padding: 5px;
                }
                div:nth-child(2){
                    max-width: 100px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                div:nth-child(3){
                    display: none;
                }
            }
        }
    }
    
}

p-lightbox{
    a{
        img{
            width: 70px;
        }
    }
}
