edit-user-popup{
  position: relative;
  .ui-progress-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .opacity{
    opacity: 0;
  }
  .body-section{
    overflow: hidden;
    min-width: 300px;
    .alert{
      margin: 0 0 10px;
    }
    .change-password{
      margin-top: 5px;
      padding-right: 5px;
    }
    img{
      margin-bottom: 10px;      
    }
    .image-holder{
      float: left;
      margin: 0 10px 10px 0;
      .row{
        margin-bottom: 0;
      }
    }
    .material-icons{
      color: #8BC34A;
      font-size: 21px;
    }
    .holder{
      float: left;
      @media (max-width: 570px) {
        float: none;
      }
    }
    .add-social-btn{
      margin: 0 0 0 10px;
      height: 2.0em;
      padding: 0 0.8em;
    }
    h3 {
      margin: 0;
      color: #455A64;
      font: bold 11px / 16px 'Roboto', Arial, Helvetica, sans-serif;
    }
    h4{
      margin-bottom: 10px;
    }
    .row {
      margin-bottom: 10px;
      > button.ui-button{
          font-size: 12px;
      }
      &:after{
         content: "";
         clear: both;
         display: block;
      }
      .column{
        width: 50%;
        float: left;
        padding-left: 10px;
        &:first-child{
          padding-left: 0;
        }
      }
      label{
        display: block;
        margin: 0;
        color: #455A64;
        font: bold 11px / 16px 'Roboto', Arial, Helvetica, sans-serif;
      }
      .social-holder{
        overflow: hidden;
        i{
          float: left;
          margin-right: 3px;
        }
        a{
          margin-top: 4px;
          display: block;
        }
      }
    }

    .input-holder{
      width: 75%;
      float: left;
      input{
        width: 100%;
      }
    }

    textarea{
      width: 100%;
      max-height: 200px;
      min-height: 80px;
      resize: vertical;
    }

    .sites-list{
      margin-bottom: 5px;
      li{
        margin-bottom: 2px;
      }
      .list-item{
          border-bottom: 1px dotted;
          opacity: .6;
          display: block;
          padding: 3px 0;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
      }
      a.list-item{
          color: #455A64;
          &:hover{
             opacity: 1;
             text-decoration: none;
          }
      }
      i.delete-icon{
          font-size: 16px;
          float: right;
          margin: 7px 1px 0 10px;
          cursor: pointer;
          color:#9aa3af;
          position: relative;
          z-index: 100;
          &:hover{
              color: #455A64;
          }
      }
  }

  }

  // File uploader
  .ui-fileupload{
    .ui-fileupload-buttonbar{
        background: none;
        border:0;
        padding: 5px 0;
        .ui-button{
            background-color: #607D8B;
            &:hover{
                background-color: #455A64;
            }
        }
    }
    
    .ui-fileupload-content{
        padding: 5px 0;
        background: none;
        border:0;
    }
    .ui-fileupload-files{
        color:#455A64;
        img{
          width: 75px;
          @media (max-width: 570px) {
              width: auto;
          }
      }
        .ui-fileupload-row{
            div{
                padding: 5px;
            }
            div:nth-child(2){
                max-width: 100px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            div:nth-child(3){
                display: none;
            }
        }
    }
  }
}