events-sidebar{
    .search-holder{
        padding: 10px;
        border-bottom: 1px solid #607D8B;
        @media (max-width: 570px) {
            padding: 5px 10px 3px;
            border: none;
        }
        label {
            display: block;
            font-size: 12px;
            font-weight: normal;
            color: #607D8B;
        }
        input{
            width: 100%;
        }
        .clear{
            cursor: pointer;
        }
        .fa-search{
            line-height: 22px;
            color: #8BC34A;
        }
    }
    .events-list{
        overflow-y: auto;
        height: 100%;
    }
    .green{
        color: #5cb85c;
    }
    .green-label{
        color: #5cb85c;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
    .green-background{
        color:#424242;
        background: #8BC34A;
    }
    .red{
        color: #e62a10;
    }
    label{
        font-size: 11px;
        font-weight: bold;
        line-height: 14px;
        color: #455A64;
    }
    .events-list-item.last-regular-event{
        margin-bottom: 30px;
        overflow: visible;
    }
    .last-regular-event:after{
        display: block;
        clear: both;
        bottom: -19px;
        font-weight: bold;
        height: 0;
        color: #4267b2;
        text-align: center;
        content: "Facebook events";
        position: relative;
        cursor: default;
    }
    .facebook-event{
        color: #4267b2;
    }    
    .row{
        overflow: hidden;
        margin-bottom: 1px;
        @media (min-width: 1400px) {
            margin-bottom: 3px;
        }
        .column{
            float: left;
            width: 50%;
            padding-left: 5px;
            &:first-child{
                padding-left: 0;
            }
            span{
                font-size: 12px;
                line-height: 15px;
                display: block;
                @media (max-width: 570px) {
                    display: inline-block;
                }
            }
            label{
                @media (max-width: 570px) {
                    width: 55px;
                    display: inline-block;
                }
            }
        }
    }
     
    virtual-scroller{
        height: 100%;
    }

    .events-list-item{
        overflow: hidden;
        padding: 10px;        
        background: #fff;
        &:hover,
        &.active{
            .facebook-event{
                color: #8599c1;
            }
            .green{
                color: #8bc34a;
            }
            cursor: pointer;
            background: #455A64;
            color: #fff;
            label{
                color: #fff;
            }
        }
        .text-holder{
            overflow: hidden;
        }
        .img-holder{
            text-align: center;
            @media (min-width: 1400px) {
                float: left;
                margin-right: 10px;
                width: 55%;
            }
        }
        img{
            height: auto;
            width: auto;
            max-height: 250px;
            max-width: 100%;
            margin-bottom: 2px;
           /* transition: linear 0.2s all;
            filter: grayscale(80%);
            &:hover{
                filter: grayscale(0%);
            }*/
            @media (min-width: 1400px) {
                margin: 0 auto;
                display: block;
            }
            @media (max-width: 570px) {
                max-width: 80%;
            }
        }
        strong{
            display: block;
            font-size: 14px;
            margin-bottom: 1px;
            @media (min-width: 1400px) {
                margin-bottom: 3px;
            }
        }
        
    }

    .ui-progress-spinner{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
