filter-panel{
    position: relative;
    display: block;
    @media (max-width: 570px) {
        position: fixed;
        top: 0;
        bottom: 999px;
        left: 0;
        right: 0;
        z-index: 300;
        transition: linear 0.2s bottom;
        .show-mobile-filters &{
            bottom: 50px;
            .ui-overflow-hidden &{
                position: static;
            }
        }
    }
    .ng-trigger-panelContent{
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        right: 0;
        background: #fff;
        border-bottom: 1px solid #607D8B;
        > div.ui-panel-content {
            padding: 5px 10px 4px;
        }
    }
    .green{
        color: #8bc34a;
        font-size: 13px !important
    }
    .green-label{
        color: #5cb85c;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
    .facebook{
        color: #4267b2;
    }
    .ui-calendar{
        @media (max-width: 570px) {
            .ui-inputtext{
                width: 100%;
            }
        }
    }
    .ui-widget-content{
        @media (max-width: 570px) {
            border:0;
        }
    }
    .ui-panel-title{
        font-size: 18px;
        font-family: cursive;
        a{
            color: #fff;
            &:hover{
                text-decoration: none
            }
        }
        span {
            font-size: 12px;
            @media (max-width: 570px) {
                display: none;
            }
        }
    }
    .my-events-checkbox{
        float: right;
        margin: 9px 10px 0 0;
        @media (max-width: 570px) {
            display: none;
        }
        .ui-chkbox .ui-chkbox-box{
            border-color: #fff;
        }
        label{
            color: #CFD8DC;
        }
    }
    .my-events-mobile-holder{
        display: none;
    }
    .my-events-checkbox-mobile{
        display: none;
        @media (max-width: 570px) {
            display: block;
        }
    }
    .ui-panel .ui-panel-titlebar{
        padding: 0; 
        .events-counter{
            position: absolute;
            bottom: 18px;
            right: 75px;
            font-weight: bold;
            color: #607D8B;
            @media (min-width: 1400px) {
                right: 140px;
                &.long{
                    right: 100px;
                }
            }
            @media (max-width: 725px) {
                bottom: -30px;
                z-index: 15;
                transition: linear 0.2s right;
                .add-sidebar-open &,
                .details-sidebar-open &{
                    right: 345px;
                }
            }
            @media (max-width: 570px) {
                left: 50%;
                right: auto;
                transform: translate(-50%, 0);
                opacity: 1;
                transition: 0.2s linear opacity;
                white-space: nowrap;
                .add-sidebar-open &,
                .details-sidebar-open &,
                .show-mobile-map &{
                    opacity: 0;
                    right: auto;
                }
                .show-mobile-filters &{
                    text-align: center;
                    position: static;
                    transform: translate(0, 0);
                    margin-top: 7px;
                    opacity: 1;
                    white-space: nowrap;
                }
             }
            strong{
                color: #8BC34A;
                font-size: 16px;
            }
        }
        .ui-panel-titlebar-icon{
            position: absolute;
            top: 65px;
            left: 13px;
            background: #607D8B;
            width: 20px;
            height: 20px;
            span{
                margin-top: 1px;
                transition: transform 0.3s;
            }
            &[aria-expanded="true"]{
                span{
                    margin-top: -1px;
                    transform: rotate(180deg);                    
                }
            }
            &:hover{
                background: #455A64;
            }
        }
        .ui-panel-titlebar-toggler{
            outline: none;   
            @media (max-width: 570px) {
                display: none;
            }    
        }
        .ui-panel-titlebar-toggler .pi-plus:before,
        .ui-panel-titlebar-toggler .pi-minus:before {
            content: "expand_more"; 
        }
        .ui-buttonset{
           margin: 4px 0 0 0px;
           @media (max-width: 570px) {
                width: 100%;
                .ui-button{
                    display: inline-block;
                    width: 33%;
                    &:first-child {
                        border-top-left-radius: 3px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 3px;
                    }
                    &:last-child {
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 3px;
                        border-top-right-radius: 3px;
                    }
                }
           }
        }
    }
    
    .main-header{
        height: 46px;
        padding: 0.625em 1em;
        &:after{
            clear: both;
            content: "";
            display: block;
        }
        button{
            float: right;
            margin-left: 5px;
        }
    }
    .filter-header{
        position: relative;
        background: #fff;
        padding: 4px 215px 4px 45px;
        p-calendar{
            input{
                width: 100px;
            }
        }
        p-autocomplete{
            input{
                width: 135px;
            }
        }
        @media (max-width: 1360px) {
            padding: 4px 1em 4px 45px;
            min-height: 98px;
        }
        @media (max-width: 570px) {
            padding: 0 1em;
            position: absolute;
            top: 46px;
            bottom: 999px;
            z-index: 500;
            width: 100%;
            min-height: 0;
            transition: linear 0.3s bottom, linear 0.3s padding;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            .ui-overflow-hidden &{
                z-index: auto;
            }
            .show-mobile-filters &{
                bottom: 0px;
                padding: 4px 1em 4px 1em;
                overflow-y: auto;
            }
        }
    }
    .mobile-filters{
        display: none;
        @media (max-width: 570px) {
            display: block;
        }
    }
    .row{
        float: left;
        @media (max-width: 570px) {
            &:after{
                content:"";
                clear: both;
                display: block;
            }
            float: none;
            .filter-item{
                .show-mobile-filters &{
                    float: left;
                    display: block;
                    margin-bottom: 20px;
                    margin-right: 2%;
                    width: 48%;
                    &.price-filter{
                        float: right;
                    }
                }
            }
        }
    }
    .filter-item{
        float: left;
        margin: 4px 15px 4px 0;
        @media (max-width: 570px) {
            display: none;
            .show-mobile-filters &{
                display: block;
                float: none;
                margin-bottom: 20px;
                margin-right: 0;
                &.hide{
                    display: none;
                }
            }
        }

        > label{
            display: block;
            font-size: 12px;
            color: #607D8B;
            margin-bottom: 3px;
            &.search-checkbox{
                margin-bottom: 5px;
            }
        }
    }

    .search-holder{
        width: 200px;
        .ui-inputgroup-addon{
            padding: 0;
        }
        .clear{
            cursor: pointer;
            i{
                color: #757575;
            }
        }
        .fa-search{
            line-height: 22px;
            color: #8BC34A;
        }
        input{
            width: 100%;
        }
    }

    p-checkbox{
        label{
            color: #666;
        }
    }

    p-menubar{
        float: right;
        .settings:after{
            content: 'settings';
            color: #fff;
        }
        .edit:after{
            content: 'edit';
            color: #757575;
        }
        .exit_to_app:after{
            content: 'exit_to_app';
            color: #757575;
        }
        .person:after{
            content: 'person';
            color: #757575;
        }
        .ui-menubar{
            background: none;
            color: #CFD8DC;
            border: 0;
            .ui-submenu-list{
                min-width:  auto;
            }
        }

        .ui-submenu > ul{
            right: 0 !important;
            left: auto !important;
        }

        .ui-menu-parent{
            
            &> .ui-menuitem-link{
                color: #CFD8DC !important;
                background: none !important;
                padding-right: 0 !important;
                &:hover{
                    color: #fff !important;
                }
                &.ui-menuitem-active > a{
                    color: #fff !important;
                }
            }
        }

        .ui-menuitem-text{
            padding-left: 3px;
        }
        
    }


    .panel-wrapper{
        padding: 10px;
        border-bottom: 1px solid #999;
        &:after{
            clear: both;
            display: block;
            content: "";
        }
    }

    mat-button-toggle-group{
        float: left;
        margin-right: 10px;
    }

    

    .login-btn{
        float: right;
        margin-right: 10px;
    }

    .ui-menubar .ui-menuitem-link{
        white-space: nowrap;
    }

    .ui-widget-content .ui-submenu-icon{
        color: #CFD8DC;
    }

}
