forgot-password-popup{
  min-height: 100px;
  .body-section{
    min-width: 300px;  
    input{
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 5px;
      &:focus{
        padding-bottom: 4px;
      }
    }
    h3{
      margin-bottom: 5px;
      color: #455A64;
    }
    .material-icons{
      color: #8BC34A;
      font-size: 24px;
    }
    button{
      width: 100%;
      margin: 10px 0;
    }
    .ui-inputgroup{
      margin-bottom: 10px;
      input{
        margin-bottom: 0px;
      }
    }
  }
  .green{
    color: #5cb85c;
  }
  .description{
    display: block;
    margin-bottom: 15px;
  }
  .ui-progress-spinner{
    position: absolute;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .alert{
    margin: 0 0 10px;
  }
}