google-map{
  @media (max-width: 570px) {
    position: absolute;
    top: 0;
    bottom: 51px;
    left: 0;
    right: 0;
    .gm-svpc{
      display: none;
    }
  }
  p-progressSpinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-175%, -25%);
  }
}
agm-map {
  height: 100%;
}