p-sidebar{
    left-sidebar{
        display: block;
        height: 100%;
        padding-bottom: 100px;
        position: relative;
        .user-link{
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .holder{
        max-height: 100%;
        overflow-y: auto;
    }
    
    footer{
        width: 100%;
        position: absolute;
        bottom: 0px;
        height: 60px;
        padding: 15px;
        text-align: center;
    }

    footer i.fa {
        font-size: 26px;
        padding: 4px;
        color: #325a8c;
        transition: all 0.3s;
        &:hover{
            color: #8BC34A;
        }
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .fa-facebook-f:before, .fa-facebook:before {
        content: "\f09a";
    }
}