login-popup{
  .body-section{
    min-width: 300px;    
    input{
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 5px;
      &:focus{
        padding-bottom: 4px;
      }
    }
    h3{
      margin-bottom: 5px;
      color: #455A64;
    }
    .material-icons{
      color: #8BC34A;
      font-size: 24px;
    }
    button{
      width: 100%;
      margin: 10px 0;
    }
    .holder{
      overflow: hidden;
    }
    .forgot-password{
      float: right;
    }
    .alert{
      margin-bottom: 10px;
    }
    .ui-inputgroup{
      margin-bottom: 10px;
      input{
        margin-bottom: 0px;
      }
    }
  }
}