mobile-panel{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    @media (max-width: 570px) {
        display: block;
    }
    .ui-toolbar{
        background-color: #607D8B;
        text-align: center;
        border-radius: 0;
        .mobile-btn{
            margin-left: 5px;
            &.filters-btn{
                .show-mobile-filters &{
                    background-color: #8BC34A; 
                }
            }
            &.map-btn{
                .show-mobile-map &{
                    background-color: #8BC34A; 
                }
                .show-mobile-filters &{
                    background-color: #607D8B; 
                }
            }
            &.events-btn{
                background-color: #8BC34A; 
                .show-mobile-map &,
                .show-mobile-filters &{
                    background-color: #607D8B; 
                }
            }
        }
    }
    .info-btn{
        float: left;
        button{
            margin-top: -2px;
            margin-bottom: 2px;        
        }
    }
}
