multy-events-popup{
  .body-section{
    overflow: hidden;
  }
  .events-list{
    overflow-y: auto;
    height: 100%;
    width: 420px;
    max-height: 500px;
    @media (max-width: 570px) {
        max-height: 100%;
        width: 100%;
    }
  }

  .red{
    color: #e62a10;
  }

  label{
      font-size: 11px;
      font-weight: bold;
      line-height: 14px;
      color: #455A64;
  }

  .facebook-event{
    color: #4267b2;
  } 

  .row{
      overflow: hidden;
      margin-bottom: 1px;
      .column{
          float: left;
          width: 50%;
          padding-left: 5px;
          &:first-child{
              padding-left: 0;
          }
          span{
              font-size: 12px;
              line-height: 15px;
              display: block;
          }
      }
  }

  .events-list li{
      overflow: hidden;
      padding: 10px;
      background: #fff;
      &:hover,
      &.active{
        .facebook-event{
            color: #8599c1;
        }
          cursor: pointer;
          background: #455A64;
          color: #fff;
          label{
              color: #fff;
          }
      }
      .text-holder{
        overflow: hidden;
    }
      .img-holder{
        text-align: center;
        float: left;
        width: 200px;
        margin: 0 10px 2px 0;
        @media (max-width: 570px) {
            float: none;
            margin:0 0 5px;
            width: auto;
        }
      }
      img{
        height: auto;
        width: auto;
        max-height: 250px;
        max-width: 100%;
      }
      strong{
          display: block;
          font-size: 14px;
          margin-bottom: 1px;
      }
      
  }
}