user-popup{
  .body-section{
    min-width: 300px;
    overflow: hidden;
    img{
      float: left;
      margin: 0 10px 10px 0;
      @media (max-width: 570px) {
        float: none;
      }
    }
    .holder{
      overflow: hidden;
    }
    h3{
      margin-bottom: 5px;
      color: #8BC34A;
    }
    h4{
      margin-bottom: 10px;
      color: #455A64;
    }
    .sites-list{
      .list-item{
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 300px;
          @media (max-width: 570px) {
            max-width: 100%;
            margin-bottom: 2px;
          }
          /*a{
              color: #424242;
          }*/
      }
    }
    .row {
      margin-bottom: 10px;
      &:after{
         content: "";
         clear: both;
         display: block;
      }
      .column{
        width: 50%;
        float: left;
      }
      label{
        display: block;
        margin: 0;
        color: #9aa3af;
        font: bold 11px / 16px 'Roboto', Arial, Helvetica, sans-serif;
      }
      .social-holder{
        overflow: hidden;
        i{
          float: left;
          margin-right: 3px;
        }
      }
    }
  }
}