<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [dismissableMask]="true" [(visible)]="showPopup">
    <p-header>
        Forgot password
    </p-header>
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    <span *ngIf="!passwordSent && !loading" class="description"><b class="green">Don't worry!</b> Resetting your password is easy. <br> 
          Just tell us the email address your registered.</span>
    <span *ngIf="passwordSent && !loading" class="description">
        We have sent a new password to <b class="green">{{this.userForm.controls.userEmail.value}}</b>. <br>
        Please check your email. <br><br>
        Or contact us if you do not see it even in spam folder:<br>
        <a href="mailto:capoeira.map@gmail.com">capoeira.map@gmail.com</a>
    </span>
    <section class="body-section">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" *ngIf="!loading && !passwordSent">
            
            <h3>Email*</h3>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="material-icons">email</i></span>
                <input type="text" formControlName="userEmail" pInputText placeholder="Email" required />
            </div>
            <div *ngIf="(userForm.controls.userEmail.invalid && userForm.controls.userEmail.touched) || (userForm.controls.userEmail.invalid && submitClicked)" class="alert alert-danger">
                <div *ngIf="userForm.controls.userEmail.errors.required">
                    Email is required.
                </div>
                <div *ngIf="userForm.controls.userEmail.errors.email">
                    Check your email format.
                </div>
            </div>
            <div *ngIf="emailError"  class="alert alert-danger">
                User with this email is not exist.
            </div>
            

            <button class="ui-button" pButton type="submit" label="Send new password"></button>
          
        </form>
    </section>

</p-dialog>