<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [dismissableMask]="true" [(visible)]="showPopup">
    <p-header>
        Convert to personal event
    </p-header>
    <p style="margin-top:0">Are you sure that this is <b class="green">your facebook event</b> and you want to convert it?</p>
    <p class="description">It's <b class="green">free</b> and takes <b class="green">less then 60 seconds.</b></p>
    <p>
        <b class="green">Advantages</b> of a personal event: <br>
        - shows above facebook events in the main list. <br>
        - only you can change information about it. <br>
        - requires a correct location on the map. <br>
        - you can add more additional information such as group, price or contacts in separate fields. <br> <br>

        And there will be more benefits in the future. <br>
    </p>
    <button (click)="convertEvent()" icon="fa fa-fw ui-icon-call-made" class="ui-button-warning" pButton type="submit" label="Convert to my event"></button>
</p-dialog>